<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/main/fragment/defaultLayout}">
<div class="tab-contents Ptype05" layout:fragment="content">
	<div class="location"></div>
	<div class="search-conditions con-box">
		<div class="setting-grid">
			<label for="doe084Warekey" class="setting-grid-title ic-title-nece">[[#{search.whnamlc}]]</label>
			<div class="setting-grid-content">
				<div class="input-group">
					<select id="doe084Warekey" name="doe084Warekey"
						data-cb-val="combovl" data-cb-name="combonm"
						data-cb-url="/md/organization/warehouse" data-cb-select=""
						data-cb-variable="warekeyList">
					</select>
				</div>
			</div>
			<label for="doe084Rcvdcky" class="setting-grid-title">[[#{sm.wstkky.rcvdcky}]]</label>
			<div class="setting-grid-content">
				<div class="input-wrapper">
					<input type="text" id="doe084Rcvdcky" name="doe084Rcvdcky" th:placeholder="${#messages.msg('sm.wstkky.rcvdcky')}" onkeyup="doe084SearchKeyup()">
				</div>
			</div>
			<label class="setting-grid-title ic-title-nece">[[#{bm.btrfhd.fcvdate}]]</label>
			<div class="setting-grid-content">
				<div class="input-date-group">
					<input type="date" max="2999-12-31" id="doe084FcvdateFrom"
						onkeyup="setInputDateDel(this)" name="doe084Fcvdate" /> <span>~</span>
					<input type="date" max="2999-12-31" id="doe084FcvdateTo"
						onkeyup="setInputDateDel(this)" name="doe084Fcvdate" />
				</div>
			</div>
			<label class="setting-grid-title ic-title-nece">정산상태</label>
			<div class="setting-grid-content">
				<div class="input-group">
					<select id="doe084Btrstat" name="doe084Btrstat">
						<option value="fcvrfyn">검증</option>
						<option value="fccfmyn">확정</option>
					</select>
				</div>
			</div>
		</div>
		<div class="search-btn-group">
			<button type="button" class="btn-search btn-navy btn-green"
				id="doe084BtnSearch">
				<img>[[#{bt.search}]]
			</button>
			<button type="button" class="btn-clear btn-white" id="doe084BtnReset">
				<img>[[#{bt.reset}]]
			</button>
		</div>
	</div>
	<div class="search-list">
		<div class="list-top">
			<div class="list-title ic-title-mark">
				<span>[[#{menu.bm.doe084}]]</span>
			</div>
			<div class="edit-btn-wrapper">
				<button class="btn-navy btn-green" id="doe084VerifySummary">
					<img class="ic-bt-save" alt="">[[#{bm.bt.verifySummary}]]
				</button>
				<button class="btn-white btn-green" id="doe084BtnVerifyCancel">
					<img class="ic-bt-cancel" alt="">[[#{bm.bt.verifyCancel}]]
				</button>
				<button class="btn-navy btn-green" id="doe084BtnFinalize">
					<img class="ic-bt-save" alt="">[[#{bm.bt.finalized}]]
				</button>
				<button class="btn-white btn-green" id="doe084BtnConfirmCancel" style="display: none">
					<img class="ic-bt-cancel" alt="">확정취소
				</button>
			</div>
		</div>
		<div class="grid-container">
			<div id="doe084HeadGrid"></div>
		</div>
		<div class="grid-container">
			<div id="doe084ItemGrid"></div>
		</div>
	</div>
	<div class="modal fade modalTm" id="doe084VerifySummaryModal" tabindex="-1" role="dialog" aria-labelledby="doe084VerifySummaryModal" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="search-list">
						<div class="list-top">
							<div class="list-title ic-title-mark">
								<span>[[#{bm.doe087.verifySummary}]]</span>
							</div>
							<div class="edit-btn-wrapper">
								<span>[[#{bm.common.btrdate}]] :</span>
								<span id="modalFcvdateFrom"></span>
								<span>~</span>
								<span id="modalFcvdateTo"></span>
							</div>
						</div>
						<div class="list-grid-wrapper con-box">
							<div id="doe084VerifySummaryGrid"></div>
						</div>
					</div>
				</div>
				<div class="modal-bottom">
					<button class="btn-white" id="doe084VerifySummaryMdClose">[[#{bt.close}]]</button>
				</div>
			</div>
		</div>
	</div>
<script>
!function(){
	const pageId = `[[${tabPage}]]`;
	
	const verifySummModalId = document.getElementById(pageId + 'VerifySummaryModal');
	//모달 키보드와 마우스로 안닫히게끔 설정
	const verifySummModal = new bootstrap.Modal(verifySummModalId, {
		backdrop: 'static',
		keyboard: false
	});
	
	let defaultWarekey;
	document.querySelector('#doe084Warekey').addEventListener('focus', () => {
		defaultWarekey = document.querySelector('#doe084Warekey').value;
	});
	
	document.querySelector('#doe084Warekey').addEventListener('change',async ()=>{
		const headGrid = doe084HeadGridObj.getGrid().getData();
		const itemGrid = doe084ItemGridObj.getGrid().getData();
		if(headGrid.length > 0 || itemGrid.length > 0){
			if(!confirm('[[#{ms.listViewRollback}]]')){
				document.querySelector('#doe084Warekey').value = defaultWarekey;
				return;
			}
		}
		defaultWarekey = this.value;
		await getDoe084HeadList();
		makeEmptyGrid(doe084ItemGridObj);	//item grid reset
	});
	
	
	document.querySelector('#doe084Btrstat').addEventListener('change', function() {
		getDoe084HeadList();
		doe084ItemGridObj.searchList([]);
		if(this.value === 'fcvrfyn') {
			document.querySelector('#doe084BtnVerifyCancel').style.display = '';
			document.querySelector('#doe084BtnFinalize').style.display = '';
			document.querySelector('#doe084BtnConfirmCancel').style.display = 'none';
		//확정
		}else if(this.value === 'fccfmyn') {	
			document.querySelector('#doe084BtnVerifyCancel').style.display = 'none';
			document.querySelector('#doe084BtnFinalize').style.display = 'none';
			document.querySelector('#doe084BtnConfirmCancel').style.display = '';
		}
	});
	
	//마감 후
	const doe084HeadGridCM = [
		{ title: '', dataType: 'string',  dataIndx: 'state', type: 'checkbox', align: 'center'
			, maxWidth:'30', maxHeight:'30', menuIcon: false, sortable: false, editor: false,
			cb: { all: true, header: true, check: 'Y', uncheck: 'N' }
		},
		{ title: 'rowkey', dataType: 'string', dataIndx: 'rowkey', editable: false, hidden:true },
		{ title: '[[#{grid.wareCode}]]', dataType: 'string', dataIndx: 'warekey', editable: false, hidden: true },
		{ title: '[[#{grid.whnamlc}]]', dataType: 'string', dataIndx: 'whnamlc', editable: false },
		{ title: '[[#{bm.btrfhd.bfhdkey}]]', dataType: 'string', dataIndx: 'bfhdkey', editable: false, summary : {type : 'count'}},
		{ title: '[[#{bm.btrfit.rcvdcky}]]', dataType: 'string', dataIndx: 'rcvdcky', editable: false },
		{ title: '[[#{grid.vownkey}]]', dataType: 'string', dataIndx: 'vownkey', editable: false, hidden: true },
		{ title: '[[#{grid.vonamlc}]]', dataType: 'string', dataIndx: 'vonamlc', editable: false },
		{ title: '[[#{grid.vehicky}]]', dataType: 'string', dataIndx: 'vehicky', editable: false, hidden: true },
		{ title: '[[#{grid.vhcfnam}]]', dataType: 'string', dataIndx: 'vhcfnam', editable: false },
		{ title: '[[#{md.mvhcma.drvernm}]]', dataType: 'string', dataIndx: 'drvernm', editable: false },
		{ title: '[[#{bm.doe082.poshpdt}]]', dataType: 'string', dataIndx: 'poshpdt', editable: false },
		{ title: '[[#{bm.doe082.poshptm}]]', dataType: 'string', dataIndx: 'poshptm', editable: false },
		{ title: '[[#{bm.doe082.poshpdy}]]', dataType: 'string', dataIndx: 'poshpdy', editable: false },
		{ title: '[[#{bm.btrfit.rcvdate}]]', dataType: 'string', dataIndx: 'rcvdate', editable: false },
		{ title: '[[#{bm.doe082.rcvdctm}]]', dataType: 'string', dataIndx: 'rcvdctm', editable: false },
		{ title: '[[#{bm.btrfhd.totchco}]]', dataType: 'integer', dataIndx: 'totchco', editable: false, format : "#,###", summary : {type : 'sum'},
			render: function(ui) {
				return { 
					style : { 'background' : '[[#{grid.styleHead01}]]'} 
				}
			}	
		},
		{ title: '[[#{bm.btrfhd.totpaco}]]', dataType: 'integer', dataIndx: 'totpaco', editable: false, format : "#,###", summary : {type : 'sum'},
			render: function(ui) {
				return { 
					style : { 'background' : '[[#{grid.styleHead01}]]'} 
				}
			}		
		},
		{ title: '[[#{bm.btrfhd.trfdfsd}]]', dataType: 'integer', dataIndx: 'trfdfsd', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.common.totalwg}]]', dataType: 'integer', dataIndx: 'totalwg', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.btrfhd.trfdfwg}]]', dataType: 'integer', dataIndx: 'trfdfwg', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.btrfhd.trfdfch}]]', dataType: 'integer', dataIndx: 'trfdfch', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.btrfhd.trfdfpa}]]', dataType: 'integer', dataIndx: 'trfdfpa', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.btrfhd.toorgch}]]', dataType: 'integer', dataIndx: 'toorgch', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.btrfhd.tosurch}]]', dataType: 'integer', dataIndx: 'tosurch', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.btrfhd.toorgpa}]]', dataType: 'integer', dataIndx: 'toorgpa', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.btrfhd.tosurpa}]]', dataType: 'integer', dataIndx: 'tosurpa', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.btrfhd.bfhmemo}]]', dataType: 'string', dataIndx: 'bfhmemo', editable : false},
		{ title: '[[#{bm.btrfit.btrfit1}]]', dataType: 'string', dataIndx: 'btrfit1', editable: false },
		{ title: '[[#{bm.btrfit.btrfcc1}]]', dataType: 'integer', dataIndx: 'btrfcc1', editable: false, format: "#,###", summary: { type : 'sum' }},
		{ title: '[[#{bm.btrfit.btrfpc1}]]', dataType: 'integer', dataIndx: 'btrfpc1', editable: false, format: "#,###", summary: { type : 'sum' }},
		{ title: '[[#{bm.btrfit.btrfec1}]]', dataType: 'integer', dataIndx: 'btrfec1', editable: false, format: "#,###", summary: { type : 'sum' }},
		{ title: '[[#{bm.btrfit.btrfep1}]]', dataType: 'integer', dataIndx: 'btrfep1', editable: false, format: "#,###", summary: { type : 'sum' }},
	    { title: '[[#{bm.btrfit.btrfit2}]]', dataType: 'string', dataIndx: 'btrfit2', editable: false },		//항목2 상하차비
    	{ title: '[[#{bm.btrfit.btrfcc2}]]', dataType: 'integer', dataIndx: 'btrfcc2', editable: false, format: "#,###", summary: { type : 'sum' }},
    	{ title: '[[#{bm.btrfit.btrfpc2}]]', dataType: 'integer', dataIndx: 'btrfpc2', editable: false, format: "#,###", summary: { type : 'sum' }},
		{ title: '[[#{bm.btrfit.btrfit3}]]', dataType: 'string', dataIndx: 'btrfit3', editable: false},
		{ title: '[[#{bm.btrfit.btrfcc3}]]', dataType: 'integer', dataIndx: 'btrfcc3', editable: false, format: "#,###", summary: { type : 'sum' }},
		{ title: '[[#{bm.btrfit.btrfpc3}]]', dataType: 'integer', dataIndx: 'btrfpc3', editable: false, format: "#,###", summary: { type : 'sum' }},
		{ title: '[[#{bm.btrfit.btrfit4}]]', dataType: 'string', dataIndx: 'btrfit4', editable: false},
		{ title: '[[#{bm.btrfit.btrfcc4}]]', dataType: 'integer', dataIndx: 'btrfcc4', editable: false, format: "#,###", summary: { type : 'sum' }},
		{ title: '[[#{bm.btrfit.btrfpc4}]]', dataType: 'integer', dataIndx: 'btrfpc4', editable: false, format: "#,###", summary: { type : 'sum' }},
		{ title: '[[#{bm.btrfit.holichr}]]', dataType: 'integer', dataIndx: 'holichr', editable: false, format: '#,###', summary : {type : 'sum' }},
		{ title: '[[#{bm.btrfit.holipay}]]', dataType: 'integer', dataIndx: 'holipay', editable: false, format: '#,###', summary : {type : 'sum' }},
		{ title: '[[#{bm.btrfhd.bfhyymm}]]', dataType: 'string', dataIndx: 'bfhyymm', editable: false },
		{ title: '[[#{bm.btrfhd.fcddate}]]', dataType: 'string', dataIndx: 'fcddate', editable: false },
		{ title: '[[#{bm.btrfhd.fcdtime}]]', dataType: 'string', dataIndx: 'fcdtime', editable: false },
		{ title: '[[#{bm.btrfhd.fcduser}]]', dataType: 'string', dataIndx: 'fcduser', editable: false },
		{ title: '[[#{bm.btrfhd.fcvrfyn}]]', dataType: 'string', dataIndx: 'fcvrfyn', editable: false },
		{ title: '[[#{bm.btrfhd.fcvdate}]]', dataType: 'string', dataIndx: 'fcvdate', editable: false },
		{ title: '[[#{bm.btrfhd.fcvtime}]]', dataType: 'string', dataIndx: 'fcvtime', editable: false },
		{ title: '[[#{bm.btrfhd.fcvuser}]]', dataType: 'string', dataIndx: 'fcvuser', editable: false },
		{ title: '[[#{bm.btrfhd.fccdate}]]', dataType: 'string', dataIndx: 'fccdate', editable: false },
		{ title: '[[#{bm.btrfhd.fcctime}]]', dataType: 'string', dataIndx: 'fcctime', editable: false },
		{ title: '[[#{bm.btrfhd.fccuser}]]', dataType: 'string', dataIndx: 'fccuser', editable: false },
		{ title: '[[#{grid.credate}]]', dataType: 'string', dataIndx: 'credate', editable: false, hidden: true },
		{ title: '[[#{grid.cretime}]]', dataType: 'string', dataIndx: 'cretime', editable: false, hidden: true },
		{ title: '[[#{grid.creuser}]]', dataType: 'string', dataIndx: 'creuser', editable: false, hidden: true },
		{ title: '[[#{grid.lmodate}]]', dataType: 'string', dataIndx: 'lmodate', editable: false, hidden: true },
		{ title: '[[#{grid.lmotime}]]', dataType: 'string', dataIndx: 'lmotime', editable: false, hidden: true },
		{ title: '[[#{grid.lmouser}]]', dataType: 'string', dataIndx: 'lmouser', editable: false, hidden: true },
		{ title: '[[#{grid.updtchk}]]', dataType: 'integer', dataIndx: 'updtchk', editable: false, hidden: true }
	];
	
	const doe084ItemGridCM = [
		{ title: 'rowkey', dataType: 'string', dataIndx: 'rowkey', editable: false, hidden:true },
		{ title: '[[#{grid.wareCode}]]', dataType: 'string', dataIndx: 'warekey', editable: false, hidden : true },
		{ title: '[[#{grid.whnamlc}]]', dataType: 'string', dataIndx: 'whnamlc', editable: false },
		{ title: '[[#{bm.btrfhd.bfhdkey}]]', dataType: 'string', dataIndx: 'bfhdkey', editable: false, summary : {type : 'count'}},
		{ title: '[[#{bm.btrfit.bfhdcit}]]', dataType: 'string', dataIndx: 'bfhdcit', editable: false, summary : {type : 'count'}},
		{ title: '[[#{bm.btrfit.btrcate}]]', dataType: 'string', dataIndx: 'btrcnam', editable: false},
		{ title: '[[#{bm.btrfit.doccate}]]', dataType: 'string', dataIndx: 'doccate', editable: false, hidden : true},
		{ title: '[[#{bm.btrfit.doctype}]]', dataType: 'string', dataIndx: 'doctype', editable: false, hidden : true},
		{ title: '[[#{bm.btrfit.doctype}]]', dataType: 'string', dataIndx: 'doctynm', editable: false},
		{ title: '[[#{bm.doe086.invoice}]]', dataType: 'string', dataIndx: 'invoice', editable: false },
		{ title: '[[#{grid.skuCode}]]', dataType: 'string', dataIndx: 'skumkey', editable: false},
		{ title: '[[#{bm.doe082.skuthic}]]', dataType: 'float', dataIndx: 'skuthic', editable: false, summary: { type : 'max' }, format: '#,###.000' },
		{ title: '[[#{bm.doe082.skuwidt}]]', dataType: 'float', dataIndx: 'skuwidt', editable: false, summary: { type : 'max' }, format: '#,###.0' },
		{ title: '[[#{bm.doe082.skuleng}]]', dataType: 'integer', dataIndx: 'skuleng', editable: false, summary: { type : 'max' }, format: '#,###' },
		{ title: '[[#{bm.doe082.skuweig}]]', dataType: 'integer', dataIndx: 'skuweig', editable: false, summary: { type : 'sum' }, format: '#,###' },
		{ title: '[[#{bm.doe082.grosswd}]]', dataType: 'float', dataIndx: 'grosswd', editable: false, summary: { type : 'max' }, format: '#,###.0' },
		{ title: '[[#{bm.doe082.grossln}]]', dataType: 'integer', dataIndx: 'grossln', editable: false, summary: { type : 'max' }, format: '#,###' },
		{ title: '[[#{bm.doe082.grosswg}]]', dataType: 'integer', dataIndx: 'grosswg', editable: false, summary: { type : 'sum' }, format: '#,###' },
		{ title: '[[#{bm.btrfit.addcoky}]]', dataType: 'string', dataIndx: 'addcoky', editable: false, hidden: true},
		{ title: '[[#{bm.doe086.addcnam}]]', dataType: 'string', dataIndx: 'adconam', editable: false},
		{ title: '[[#{bm.doe086.adcoper}]]', dataType: 'float', dataIndx: 'adcoper', editable: false},
		{ title: '[[#{grid.ownerky}]]', dataType: 'string', dataIndx: 'ownerky', editable: false, hidden: true },
		{ title: '[[#{grid.ownamlc}]]', dataType: 'string', dataIndx: 'ownrnam', editable: false },
		{ title: '[[#{grid.custkey}]]', dataType: 'string', dataIndx: 'custcod', editable: false, hidden: true },
		{ title: '[[#{bm.common.cunamlc}]]', dataType: 'string', dataIndx: 'custnam', editable: false },
		{ title: '[[#{grid.regiorg}]]', dataType: 'string', dataIndx: 'regiorg', editable: false},	//원본 목적지
		{ title: '[[#{bm.btrpit.regiorg}]]', dataType: 'string', dataIndx: 'reorgnm', editable: false },
		{ title: '[[#{grid.regimod}]]', dataType: 'string', dataIndx: 'regimod', editable: false},	//변경 목적지
		{ title: '[[#{bm.btrpit.regimod}]]', dataType: 'string', dataIndx: 'remodnm', editable: false },
		{ title: '[[#{grid.deorgnm}]]', dataType: 'string', dataIndx: 'deorgnm', editable: false },	//원본 상세착지
		{ title: '[[#{grid.demodnm}]]', dataType: 'string', dataIndx: 'demodnm', editable: false},	//변경 상세착지
		{ title: '[[#{grid.demdman}]]', dataType: 'string', dataIndx: 'demdman', editable: false },	//담당자명
		{ title: '[[#{grid.demdadr}]]', dataType: 'string', dataIndx: 'demdadr', editable: false},	//상세착지 주소
		{ title: '[[#{grid.dempocd}]]', dataType: 'string', dataIndx: 'dempocd', editable: false },	//우편번호
		{ title: '[[#{grid.demdtln}]]', dataType: 'string', dataIndx: 'demdtln', editable: false},	//담당자 전화번호
		{ title: '[[#{bm.btrfit.btrfigb}]]', dataType: 'string', dataIndx: 'btrfigb', editable: false },
		{ title: '[[#{bm.btrfit.btrfitc}]]', dataType: 'string', dataIndx: 'btrfitc', editable: false },
		{ title: '[[#{bm.btrfit.btrfitn}]]', dataType: 'string', dataIndx: 'btrfitn', editable: false },
		{ title: '[[#{bm.btrfit.calweig}]]', dataType: 'string', dataIndx: 'calweig', editable: false ,hidden:true},	//계산중량
		{ title: '[[#{bm.btrfit.calweig}]]', dataType: 'string', dataIndx: 'calwgnm', editable: false },	//계산중량명 ex)gross중량 , net중량
		{ title: '[[#{bm.btrfit.rcvdate}]]', dataType: 'string', dataIndx: 'rcvdate', editable: false },
		{ title: '[[#{bm.doe082.rcvdctm}]]', dataType: 'string', dataIndx: 'rcvdctm', editable: false },
		{ title: '[[#{bm.doe082.rcvdcky}]]', dataType: 'string', dataIndx: 'rcvdcky', editable: false },
		{ title: '[[#{bm.btrfma.btrfstc}]]', dataType: 'string', dataIndx: 'btrfstc', editable: false },
		{ title: '[[#{bm.doe082.poshpdt}]]', dataType: 'string', dataIndx: 'poshpdt', editable: false },
		{ title: '[[#{bm.doe082.poshptm}]]', dataType: 'string', dataIndx: 'poshptm', editable: false },
		{ title: '[[#{bm.doe082.poshpdy}]]', dataType: 'string', dataIndx: 'poshpdy', editable: false },
		{ title: '[[#{bm.btrfit.btrfky1}]]', dataType: 'string', dataIndx: 'btrfky1', editable: false, hidden: true },
		{ title: '[[#{bm.btrfit.btrfit1}]]', dataType: 'string', dataIndx: 'btrfit1', editable: false },
		{ title: '[[#{bm.btrfit.btrfch1}]]', dataType: 'integer', dataIndx: 'btrfch1', editable: false, format : "#,###", summary : {type : 'avg'}},
		{ title: '[[#{bm.btrfit.btrfcc1}]]', dataType: 'integer', dataIndx: 'btrfcc1', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.btrfit.btrfpa1}]]', dataType: 'integer', dataIndx: 'btrfpa1', editable: false, format : "#,###", summary : {type : 'avg'}},
		{ title: '[[#{bm.btrfit.btrfpc1}]]', dataType: 'integer', dataIndx: 'btrfpc1', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.btrfit.btrfec1}]]', dataType: 'integer', dataIndx: 'btrfec1', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.btrfit.btrfep1}]]', dataType: 'integer', dataIndx: 'btrfep1', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.btrfit.btrfky2}]]', dataType: 'string', dataIndx: 'btrfky2', editable: false, hidden: true },
		{ title: '[[#{bm.btrfit.btrfit2}]]', dataType: 'string', dataIndx: 'btrfit2', editable: false },
		{ title: '[[#{bm.btrfit.btrfch2}]]', dataType: 'integer', dataIndx: 'btrfch2', editable: false, format : "#,###", summary : {type : 'avg'}},
		{ title: '[[#{bm.btrfit.btrfcc2}]]', dataType: 'integer', dataIndx: 'btrfcc2', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.btrfit.btrfpa2}]]', dataType: 'integer', dataIndx: 'btrfpa2', editable: false, format : "#,###", summary : {type : 'avg'}},
		{ title: '[[#{bm.btrfit.btrfpc2}]]', dataType: 'integer', dataIndx: 'btrfpc2', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.btrfit.btrfky3}]]', dataType: 'string', dataIndx: 'btrfky3', editable: false, hidden: true },
		{ title: '[[#{bm.btrfit.btrfit3}]]', dataType: 'string', dataIndx: 'btrfit3', editable: false },
		{ title: '[[#{bm.btrfit.btrfch3}]]', dataType: 'integer', dataIndx: 'btrfch3', editable: false, format : "#,###", summary : {type : 'avg'}},
		{ title: '[[#{bm.btrfit.btrfcc3}]]', dataType: 'integer', dataIndx: 'btrfcc3', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.btrfit.btrfpa3}]]', dataType: 'integer', dataIndx: 'btrfpa3', editable: false, format : "#,###", summary : {type : 'avg'}},
		{ title: '[[#{bm.btrfit.btrfpc3}]]', dataType: 'integer', dataIndx: 'btrfpc3', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.btrfit.btrfch4}]]', dataType: 'string', dataIndx: 'btrfit4', editable: false},
		{ title: '[[#{bm.btrfit.btrfch4}]]', dataType: 'integer', dataIndx: 'btrfch4', editable: false, format: '#,###', summary : {type : 'sum' }},
		{ title: '[[#{bm.btrfit.btrfcc4}]]', dataType: 'integer', dataIndx: 'btrfcc4', editable: false, format: '#,###', summary : {type : 'sum' }},
		{ title: '[[#{bm.btrfit.btrfpa4}]]', dataType: 'integer', dataIndx: 'btrfpa4', editable: false, format: '#,###', summary : {type : 'sum' }},
		{ title: '[[#{bm.btrfit.btrfpc4}]]', dataType: 'integer', dataIndx: 'btrfpc4', editable: false, format: '#,###', summary : {type : 'sum' }},
		{ title: '[[#{bm.btrfit.holichr}]]', dataType: 'integer', dataIndx: 'holichr', editable: false, format: '#,###', summary : {type : 'sum' }},
		{ title: '[[#{bm.btrfit.holipay}]]', dataType: 'integer', dataIndx: 'holipay', editable: false, format: '#,###', summary : {type : 'sum' }},
		{ title: '[[#{bm.btrfit.surchco}]]', dataType: 'integer', dataIndx: 'surchco', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.btrfit.addchco}]]', dataType: 'integer', dataIndx: 'addchco', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.btrfit.addpaco}]]', dataType: 'integer', dataIndx: 'addpaco', editable: false, format : "#,###", summary : {type : 'sum'} },
		{ title: '[[#{bm.btrfit.adcmemo}]]', dataType: 'string', dataIndx: 'adcmemo', editable: false },
		{ title: '[[#{bm.btrfit.btrfcbt}]]', dataType: 'string', dataIndx: 'btrfcbt', editable: false,
			editor: {
				type: 'select',
	            init: function (ui) {
	            	ui.$cell.find('select').pqSelect({ checkbox : true });
	                setTimeout(function () {
	                	ui.$cell.find('select').pqSelect('open');
		        	}, 250);
				},
			    options: []
			},
			render : gridRenderAndValue
		},
		{ title: '[[#{bm.btrfit.btrfpat}]]', dataType: 'string', dataIndx: 'btrfpat', editable: false },
		{ title: '[[#{bm.btrfit.sbillto}]]', dataType: 'string', dataIndx: 'sbillto', editable: false },
		{ title: '[[#{bm.btrfit.sbillto}]]', dataType: 'string', dataIndx: 'sbillnm', editable: false },
		{ title: '[[#{grid.credate}]]', dataType: 'string', dataIndx: 'credate', editable: false, hidden: true },
		{ title: '[[#{grid.cretime}]]', dataType: 'string', dataIndx: 'cretime', editable: false, hidden: true },
		{ title: '[[#{grid.creuser}]]', dataType: 'string', dataIndx: 'creuser', editable: false, hidden: true },
		{ title: '[[#{grid.lmodate}]]', dataType: 'string', dataIndx: 'lmodate', editable: false, hidden: true },
		{ title: '[[#{grid.lmotime}]]', dataType: 'string', dataIndx: 'lmotime', editable: false, hidden: true },
		{ title: '[[#{grid.lmouser}]]', dataType: 'string', dataIndx: 'lmouser', editable: false, hidden: true },
		{ title: '[[#{grid.updtchk}]]', dataType: 'integer', dataIndx: 'updtchk', editable: false, hidden: true }
	];
	
	const verfiyGridColModel = [
		{ title: 'rowkey', dataType: 'string', dataIndx: 'rowkey', editable: false, hidden:true },
		{ title: '[[#{bm.btrfit.btrcate}]]', dataType: 'string', dataIndx: 'btrcate', editable: false },
		{ title: '[[#{bm.btrfit.btrfigb}]]', dataType: 'string', dataIndx: 'btrfigb', editable: false },
		{ title: '[[#{bm.common.totalwg}]]', dataType: 'string', dataIndx: 'totalwg', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.btrfhd.totchco}]]', dataType: 'integer', dataIndx: 'totalch', editable: false, format : "#,###", summary : {type : 'sum'},
			render: function(ui) {
				return { 
					style : { 'background' : '[[#{grid.styleHead01}]]'} 
				}
			}	
		},
		{ title: '[[#{bm.btrfhd.totpaco}]]', dataType: 'integer', dataIndx: 'totalpa', editable: false, format : "#,###", summary : {type : 'sum'},
			render: function(ui) {
				return { 
					style : { 'background' : '[[#{grid.styleHead01}]]'} 
				}
			}		
		},
		{ title: '[[#{bm.doe082.totcit1}]]', dataType: 'integer', dataIndx: 'totcit1', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.doe082.totcit2}]]', dataType: 'integer', dataIndx: 'totcit2', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.doe082.totcit3}]]', dataType: 'integer', dataIndx: 'totcit3', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.doe082.totpit1}]]', dataType: 'integer', dataIndx: 'totpit1', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.doe082.totpit2}]]', dataType: 'integer', dataIndx: 'totpit2', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.doe082.totpit3}]]', dataType: 'integer', dataIndx: 'totpit3', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.doe084.totexch}]]', dataType: 'integer', dataIndx: 'totexch', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.doe084.totexpa}]]', dataType: 'integer', dataIndx: 'totexpa', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.modal.tothoch}]]', dataType: 'integer', dataIndx: 'tothoch', editable: false, format : "#,###", summary : {type : 'sum'}},
		{ title: '[[#{bm.modal.tothopa}]]', dataType: 'integer', dataIndx: 'tothopa', editable: false, format : "#,###", summary : {type : 'sum'}}
	];

	const doe084HeadGridObj = new GridUtil(doe084HeadGridCM, pageId, 'doe084HeadGrid');
	const doe084ItemGridObj = new GridUtil(doe084ItemGridCM, pageId, 'doe084ItemGrid');
	const verfiyGridObject = new GridUtil(verfiyGridColModel, pageId, 'doe084VerifySummaryGrid');
	
	if(!verfiyGridObject.groupModel.on) { 
		verfiyGridObject.setGroupModel({
            on: true,	
            titleInFirstCol: true,
            dataIndx : ['btrcate'],
            merge: true,	
            header: false,
            headerMenu: false,
            hideLines: false
        });
	}    
	
	doe084HeadGridObj.setFind();
	doe084ItemGridObj.setFind();

	doe084HeadGridObj.setCreate(async function(event,ui){
		await _commonInit(pageId);	//search select box init
		//정산일자 set
		document.querySelector('#doe084FcvdateFrom').value = moment().subtract('1','M').format('YYYY-MM-DD');
		document.querySelector('#doe084FcvdateTo').value = moment().format('YYYY-MM-DD');
		
		//parameter 시점맞추기 용으로 headGrid create 시 작성
		const custkeyData = await fetchUtil('GET', '/md/partner/customer',{warekey : document.querySelector('#doe084Warekey :checked').value});
		const custkeyList = await custkeyData.json();
		comboCreateData('doe084ItemGrid', 'btrfcbt', custkeyList, { combovl : 'combovl', combonm : 'combonm' });
		this.option('freezeCols',1);
	});
	
	doe084HeadGridObj.setCheck(function(event,ui){
		if(ui.rowData.state === 'Y'){
			if(doe084ItemGridObj.getGrid().getData().length === 0){
				doe084HeadGridObj.rowDblClick(event,ui);
			}else{
				let foundItem = doe084ItemGridObj.getGrid().getData().find(function(item) {
		            return item.bfhdkey === ui.rowData.bfhdkey;
		        });
		        // foundItem이 존재하지 않거나 bfhdkey가 일치하지 않으면 처리
		        if (!foundItem || foundItem.bfhdkey !== ui.rowData.bfhdkey) {
		            doe084HeadGridObj.rowDblClick(event, ui);
		        }
			}
		}
	});
	
	doe084HeadGridObj.setRowDblClick(async function(event,ui){
		const params ={
				warekey : ui.rowData.warekey,
				bfhdkey : ui.rowData.bfhdkey
		};
		
		await getDoe084ItemList(params);
	});
	
	//paste에 담긴 addList를 초기화시켜 그리드에 불필요한 row가 생성되지 않게 해줌
	doe084HeadGridObj.setBeforeValidate(function(event,ui){
		if(ui.source === 'paste') {
			ui.addList = [];
		}
	});
	
	//paste에 담긴 addList를 초기화시켜 그리드에 불필요한 row가 생성되지 않게 해줌
	doe084ItemGridObj.setBeforeValidate(function(event,ui){
		if(ui.source === 'paste') {
			ui.addList = [];
		}
	});
	
	verfiyGridObject.setCreate(async function(event, ui) {
		let fcvdateFrom  = document.querySelector('#doe084FcvdateFrom').value;
		let fcvdateTo = document.querySelector('#doe084FcvdateTo').value;
		const param = {
				warekey : document.querySelector('#doe084Warekey').value,
				fcvdatefrom : fcvdateFrom.replace(/-/g, ''),
				fcvdateto : fcvdateTo.replace(/-/g, '')
		};
		document.querySelector('#modalFcvdateFrom').insertAdjacentText('afterbegin',fcvdateFrom);
		document.querySelector('#modalFcvdateTo').insertAdjacentText('afterbegin',fcvdateTo);
	
		this.showLoading();
		const response = await fetchUtil('GET', '/bm/billing/doe084/verify', param);
		if(response.status === 200){
			const verifyList = await response.json();
			this.option('dataModel', { data : verifyList, recIndx : 'rowkey' });
		}
		this.refreshDataAndView();
		this.hideLoading();
	});

	doe084HeadGridObj.open();
	doe084ItemGridObj.open();

	//조회 버튼 클릭
	document.querySelector('#doe084BtnSearch').addEventListener('click', function(){
		doe084ItemGridObj.searchList([]);
		getDoe084HeadList();
	});

	//검색영역 초기화 버튼
	document.querySelector('#doe084BtnReset').addEventListener('click', function(){
		const headGrid = doe084HeadGridObj.getGrid().getData();
		const itemGrid = doe084ItemGridObj.getGrid().getData();
		if(headGrid.length > 0 || itemGrid.length > 0){
			if(!confirm('[[#{ms.listViewRollback}]]')){
				return;
			}
		}
		makeEmptyGrid(doe084HeadGridObj);
		makeEmptyGrid(doe084ItemGridObj);
		document.querySelectorAll(`input[id*="${pageId}"], select[id*="${pageId}"]`).forEach(function(el){
			if(el.localName === 'select'){
				el.selectedIndex = 0;
				if(el.id === 'doe084Btrstat'){
					//검증
					if(el.value === 'fcvrfyn') {
						document.querySelector('#doe084BtnVerifyCancel').style.display = '';
						document.querySelector('#doe084BtnFinalize').style.display = '';
						document.querySelector('#doe084BtnConfirmCancel').style.display = 'none';
					//확정
					}else if(el.value === 'fccfmyn') {	
						document.querySelector('#doe084BtnVerifyCancel').style.display = 'none';
						document.querySelector('#doe084BtnFinalize').style.display = 'none';
						document.querySelector('#doe084BtnConfirmCancel').style.display = '';
					}
					return;
				}
			}else{	//input
				if(el.type === 'date' && el.name === 'doe084Fcvdate'){
					document.querySelector('#' + el.name + 'From').value = moment().subtract('1','M').format('YYYY-MM-DD');
					document.querySelector('#' + el.name + 'To').value = moment().format('YYYY-MM-DD');	//한달뒤 set
					return;
				}
				el.value = '';
			}
		});
	});
	
	//날짜 From to 역전 불가
	dateValidation(document.querySelector('#' + pageId + 'FcvdateFrom'), document.querySelector('#' + pageId + 'FcvdateTo'),pageId +'Fcvdate',1,'M');

	//확정완료 버튼
	document.querySelector('#doe084BtnFinalize').addEventListener('click', async function(){
		const grid = pq.grid('#doe084HeadGrid');
		const gridDataList = grid.getData();
		const checkList = gridDataList.filter(function(e) {
			return e.state === 'Y';
		});
		
		if(!checkList.length){
			alert('[[#{ms.choiceHeadRowZero}]]');
			return;
		}

		if(confirm('[[#{ms.finalConfirm}]]')) {			//해당 정산이 확정처리 됩니다. 진행하시겠습니까?
			grid.showLoading();

		    const rData = await fetchUtil('PATCH', '/bm/billing/doe084/confirm', checkList);
		    if(rData.status === 200){
				await getDoe084HeadList();
				makeEmptyGrid(doe084ItemGridObj);
				grid.refreshDataAndView();
			} 
			grid.hideLoading();
		}
	});
	
	//검증취소
	document.querySelector('#doe084BtnVerifyCancel').addEventListener('click', async function(){
		const grid = pq.grid('#doe084HeadGrid');
		const gridDataList = grid.getData();
		const checkList = gridDataList.filter(function(e) {
			return e.state === 'Y';
		});
		
		if(!checkList.length){
			alert('[[#{ms.choiceHeadRowZero}]]');
			return;
		}

		if(confirm('[[#{ms.verifyCancelConfirm}]]')) {		//검증 완료된 데이터입니다. 취소하시겠습니까?
			grid.showLoading();

		    const rData = await fetchUtil('PATCH', '/bm/billing/doe084/cancel', checkList);
		    if(rData.status === 200){
				await getDoe084HeadList();
				makeEmptyGrid(doe084ItemGridObj);
				grid.refreshDataAndView();
			} 
			grid.hideLoading();
		}
	});
	
	//검증요약
	document.querySelector('#doe084VerifySummary').addEventListener('click', function() { 
		verifySummModal.show();
	});
	
	//shown.bs.modal 시점에 grid open => javacript 미동작
	$('#doe084VerifySummaryModal').on('shown.bs.modal', async function() {
		verfiyGridObject.open();
	});
	
	$('#doe084VerifySummaryModal').on('hidden.bs.modal', async function() { 
		verfiyGridObject.getGrid().destroy();
	});
	
	document.querySelector('#doe084VerifySummaryMdClose').addEventListener('click', function() {
		document.querySelector('#modalFcvdateFrom').textContent = '';	// 그리드 위 정산일자 초기화
		document.querySelector('#modalFcvdateTo').textContent = '';
		verifySummModal.hide();
	});
	
	//확정취소
	document.querySelector('#doe084BtnConfirmCancel').addEventListener('click', async function(){
		const grid = pq.grid('#doe084HeadGrid');
		const gridDataList = grid.getData();
		const checkList = gridDataList.filter(function(e) {
			return e.state === 'Y';
		});
		
		if(!checkList.length){
			alert('[[#{ms.choiceHeadRowZero}]]');
			return;
		}
		if(confirm('[[#{ms.cancelConfirm}]]')) {		//취소할 경우 마감 처리 전으로 돌아갑니다. 취소하시겠습니까?
			grid.showLoading();
			 const rData = await fetchUtil('PATCH', '/bm/billing/doe084/confirm-cancel', {updateList : checkList});
		    if(rData.status === 200){
				await getDoe084HeadList();
				makeEmptyGrid(doe084ItemGridObj);
				grid.refreshDataAndView();
			} 
			grid.hideLoading();
		}
		
	});
	
	//Head Grid 조회
	async function getDoe084HeadList() {
		const grid = pq.grid('#doe084HeadGrid');
		
		const params = makeSearchData(pageId);
		grid.showLoading();
		const rData = await fetchUtil('GET','/bm/billing/doe084/grid/head', params);
		if(rData.status === 200){
			const btrfCloseList = await rData.json();
			grid.option('dataModel', { data: btrfCloseList, recIndx: 'rowkey' });
			makeEmptyGrid(pq.grid('#doe084ItemGrid'));
		}
		grid.refreshDataAndView();
		grid.hideLoading();
	}
	
	//Item Grid 조회
	async function getDoe084ItemList(params){
		const grid = pq.grid('#doe084ItemGrid');
		if(!params){
			return;
		}
		grid.showLoading();
		const rData = await fetchUtil('GET','/bm/billing/doe084/grid/item', params);
		if(rData.status === 200){
			const btrfCloseItemList = await rData.json();
			grid.option('dataModel', { data:btrfCloseItemList, recIndx : 'rowkey' });
		}
		grid.refreshDataAndView();
		grid.hideLoading();
	}
	
	doe084SearchKeyup = async function (){
		const key = this.event.key || this.event.keyCode;
		if(key === 'Enter' || key === 13) {
			await getDoe084HeadList();
		}
	}
}();
</script>
</div>
</html>