<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/main/fragment/defaultLayout}">
	<div class="tab-contents" layout:fragment="content">
		<div class="location"></div>
			<div class="search-conditions con-box">
				<div class="setting-grid">
					<label for="doe006Vownkey" class="setting-grid-title">[[#{search.vownkey}]]</label>
					<div class="setting-grid-content">
						<div class="input-wrapper">
							<input type="text" th:placeholder="${#messages.msg('search.vownkey')}"
							id="doe006Vownkey" name="doe006Vownkey">
						</div>
					</div>
					<label for="doe006Vonamlc" class="setting-grid-title">[[#{search.vonamlc}]]</label>
					<div class="setting-grid-content">
						<div class="input-wrapper">
							<input type="text" th:placeholder="${#messages.msg('search.vonamlc')}"
							id="doe006Vonamlc" name="doe006Vonamlc">
						</div>
					</div>
					<label for="doe006Vowaffi" class="setting-grid-title">[[#{md.mvowma.vowaffi}]]</label>
					<div class="setting-grid-content">
						<div class="input-group">
							<select id="doe006Vowaffi" name="doe006Vowaffi"
							data-cb-val="combovl" data-cb-name="combonm" data-cb-url="/md/code/common-code?comcdky=vowaffi"
							data-cb-select="" data-cb-variable="vowaffiList">
								<option value="">[[#{ms.chooseAll}]]</option>
							</select>
						</div>
					</div>
					<label for="doe006Vouseyn" class="setting-grid-title">[[#{md.useyn}]]</label>
					<div class="setting-grid-content">
						<div class="input-group">
							<select id="doe006Vouseyn" class="pq-select">
								<option value="">[[#{ms.chooseAll}]]</option>
								<option value="Y">[[#{search.use}]]</option>
								<option value="N">[[#{search.unuse}]]</option>
							</select>
						</div>
					</div>
				</div>
				<div class="search-btn-group">
					<button type="button" class="btn-search btn-navy btn-green" id="doe006BtnSearch"><img>[[#{bt.search}]]</button>
					<button type="button" class="btn-clear btn-white" id="doe006BtnReset"><img>[[#{bt.reset}]]</button>
				</div>
			</div>
			<div class="search-list">
				<div class="list-top">
					<div class="list-title ic-title-mark">
						<span>[[#{menu.md.doe006}]]</span>
					</div>
					<div class="edit-btn-wrapper">
						<button class="btn-navy btn-green" id="doe006BtnSave"><img class="ic-bt-save">[[#{bt.save}]]</button>
					</div>
				</div>
				<div class="list-grid-wrapper con-box">
					<div id="doe006Grid"></div>
				</div>
			</div>
		<script>
		!function(){
			const pageId = '[[${tabPage}]]';

			// 칼럼
			const doe006GridCM = [
				{ title: '', dataType: 'bool', dataIndx: 'state', align: 'center', type: 'checkbox'
						, sortable: false, editor: false, cb: {all: false,	header: true},
						nodrag: true, nodrop: true
				},
				{ title: '', dataType: 'string', dataIndx: 'rowkey', editable: false, hidden:true},
				{ title: '[[#{grid.vownkey}]]', dataType: 'string', dataIndx: 'vownkey', editable: false},
				{ title: '[[#{grid.vonamlc}]]', dataType: 'string', dataIndx: 'vonamlc', styleHead: { 'background-color':'[[#{grid.styleHead01}]]' }},
				{ title: '[[#{md.mvowma.vowaffi}]]', dataType: 'string', dataIndx: 'vowaffi', styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
					editor: {
						type: 'select',
		        		 init: function (ui) {
		        			 ui.$cell.find('select').pqSelect({ checkbox : true, search: false, width: getSelectBoxWidthCondition(ui) });
		        			 setTimeout(function () {
		        				 ui.$cell.find('select').pqSelect('open');
	        				 }, 250);
	        			 },
					    options: []
					},
					render : gridRenderAndValue

				},
				{ title: '[[#{md.regno}]]', dataType: 'string', dataIndx: 'voregno', styleHead: { 'background-color':'[[#{grid.styleHead01}]]' }},
				{ title: '[[#{md.bank}]]', dataType: 'string', dataIndx: 'vowbank', styleHead: { 'background-color':'[[#{grid.styleHead02}]]' }},
				{ title: '[[#{md.acnm}]]', dataType: 'string', dataIndx: 'vowacnm', styleHead: { 'background-color':'[[#{grid.styleHead02}]]' }},
				{ title: '[[#{md.teln}]]', dataType: 'string', dataIndx: 'vowteln', styleHead: { 'background-color':'[[#{grid.styleHead02}]]' }},
				{ title: '[[#{md.addr}]]', dataType: 'string', dataIndx: 'vowaddr', styleHead: { 'background-color':'[[#{grid.styleHead02}]]' }},
				{ title: '[[#{md.mannm}]]', dataType: 'string', dataIndx: 'vomannm', styleHead: { 'background-color':'[[#{grid.styleHead02}]]' }},
				{ title: '[[#{md.mantl}]]', dataType: 'string', dataIndx: 'vomantl', styleHead: { 'background-color':'[[#{grid.styleHead02}]]' }},
				{ title: '[[#{md.manem}]]', dataType: 'string', dataIndx: 'vomanem', styleHead: { 'background-color':'[[#{grid.styleHead02}]]' }},
				{ title: '공용여부', dataType: 'string', dataIndx: 'publcyn', styleHead: { 'background-color':'[[#{grid.styleHead02}]]' }
				, type: 'checkbox', editor: false, align: 'center', cb: { all: false, check: 'Y', uncheck: 'N' }},
				{ title: '도메인 사업자명', dataType: 'string', dataIndx: 'dmwplnm', editable: false, hidden: true },
				{ title: '[[#{md.useyn}]]', dataType: 'string', dataIndx: 'vouseyn', styleHead: { 'background-color':'[[#{grid.styleHead02}]]' }
				, type: 'checkbox', editor: false, align: 'center', cb: { all: false, header: true, check: 'Y', uncheck: 'N' }},
				{ title: '[[#{md.mvowma.sigupyn}]]', dataType: 'string', dataIndx: 'sigupyn', editable: false
				, type: 'checkbox', editor: false, align: 'center', cb: { all: false, header: true, check: 'Y', uncheck: 'N' }},
				{ title: '[[#{md.memo}]]', dataType: 'string', dataIndx: 'vowmemo', styleHead: { 'background-color':'[[#{grid.styleHead02}]]' }},
				{ title: '[[#{grid.credate}]]', dataType: 'string', dataIndx: 'credate', editable: false},
				{ title: '[[#{grid.cretime}]]', dataType: 'string', dataIndx: 'cretime', editable: false},
				{ title: '[[#{grid.creuser}]]', dataType: 'string', dataIndx: 'creuser', editable: false},
				{ title: '[[#{grid.lmodate}]]', dataType: 'string', dataIndx: 'lmodate', editable: false},
				{ title: '[[#{grid.lmotime}]]', dataType: 'string', dataIndx: 'lmotime', editable: false},
				{ title: '[[#{grid.lmouser}]]', dataType: 'string', dataIndx: 'lmouser', editable: false},
				{ title: '[[#{grid.updtchk}]]',  dataType: 'integer', dataIndx: 'updtchk', editable: false, hidden: true }
			]

			// 그리드 기본 설정
			const doe006Grid = new GridUtil(doe006GridCM, pageId, pageId + 'Grid');
			doe006Grid.setFind();
			doe006Grid.setReset();

			// Grid 생성시 이벤트
			doe006Grid.setCreate(async function(evt, ui) {
				await _commonInit(pageId);
				comboCreateData(pageId + 'Grid', 'vowaffi', vowaffiList, { combovl : 'combovl', combonm : 'combonm' });
				this.option('freezeCols', 1);
			});

			// 그리드 행 추가
			doe006Grid.setAdd(function(evt, ui){
				const rowData = {
					state: true,
					vouseyn: 'Y',
					sigupyn: 'N',
					publcyn: 'N'
				};
				const rowIndx = this.addRow({
					rowData : rowData,
					checkEditable : false
				});

				this.goToPage({ rowIndx : rowIndx });
				this.editFirstCellInRow({ rowIndx: rowIndx });
				this.focus({
					rowIndxPage: rowIndx,
					colIndx: $('#' + pageId + 'Grid').pqGrid( 'getColIndx', { dataIndx: rowIndx } )
				});
			});

			// 그리드 데이터 변경
			doe006Grid.setChange(async function(evt, ui){
				if('checkbox' === ui.source){
					const updateRowList = [];

					await ui.updateList.forEach(updateData => {
		    			let newRow = {state: true};

		           		if(updateData.newRow.hasOwnProperty('vouseyn') || updateData.newRow.hasOwnProperty('publcyn')){
		        			updateRowList.push({
								rowIndx: updateData.rowIndx,
								newRow: newRow
							});
		       			}
		   			});
					await this.updateRow({
						rowList: updateRowList,
						checkEditable: false
					});
		    	} else if('edit' === ui.source || 'paste' === ui.source || 'undo' === ui.source || 'redo' === ui.source || 'clear' === ui.source){
		    		let vowaffiData;
		    		for(const updateData of ui.updateList){

		    			if(updateData.newRow.hasOwnProperty('vowaffi') && updateData.oldRow.hasOwnProperty('vowaffi')){
		    				vowaffiData = vowaffiList.find(function(data){
	    						return(data.combonm === updateData.newRow['vowaffi'])
	    					})
	    				}

			    		this.updateRow({
							rowIndx : updateData.rowIndx,
							newRow : {
								state: true,
								vowaffi: vowaffiData ? vowaffiData.combovl : updateData.rowData.vowaffi,
								vouseyn: updateData.rowData.vouseyn,
								sigupyn: updateData.rowData.sigupyn,
								publcyn: updateData.rowData.publcyn
							},
							checkEditable : false
			    		})
		    		}
		    		for(const addData of ui.addList){
		    			addData.rowData.state = true;
		    			addData.rowData.vowaffi = vowaffiData ? vowaffiData.combovl : addData.rowData.vowaffi;
		    			addData.rowData.vouseyn = addData?.newRow?.vouseyn || 'Y';
		    			addData.rowData.sigupyn = addData?.newRow?.sigupyn || 'N';
		    			addData.rowData.publcyn = addData?.newRow?.publcyn || 'N';
		    		}
		    	}
				doe006Grid.getGrid().refresh();
			});

			// Grid 객체 생성
			doe006Grid.open();

			// 검색 버튼
			document.querySelector('#' + pageId + 'BtnSearch').addEventListener('click', async function(){
				await getDoe006List();
			})

			// 저장 버튼
			document.querySelector('#' + pageId + 'BtnSave').addEventListener('click', async function(){
				const validation = validateEssentialFieldBeforeSaveGridUtil(doe006Grid, ['vonamlc', 'vowaffi', 'voregno']) // 차주명, 차량소속, 사업자등록번호
								&& validateDuplicationFieldBeforeSaveGridUtil(doe006Grid, ['voregno']); // 사업자등록번호
				if( !validation || (await !confirm('[[#{ms.checksave}]]'))){ // 저장 하시겠습니까?
					return;
				}
				await saveGridUtil(doe006Grid, refineGridUtilSaveList(doe006Grid), '/md/' + pageId + '/grid');
				await getDoe006List();
			})

			// 초기화 버튼
			document.querySelector('#' + pageId + 'BtnReset').addEventListener('click', async function(){
				resetSearchConditions(pageId);
				makeEmptyGrid(doe006Grid);
			})

			// Grid 데이터 조회 함수
			async function getDoe006List(){
				const grid = pq.grid('#' + pageId + 'Grid');
				const data = {
						vownkey : document.querySelector('#' + pageId + 'Vownkey').value.toUpperCase(),
			  			vonamlc : document.querySelector('#' + pageId + 'Vonamlc').value.toUpperCase(),
			  			vowaffi : document.querySelector('#' + pageId + 'Vowaffi').value,
			  			vouseyn : document.querySelector('#' + pageId + 'Vouseyn').value
				};

				grid.showLoading();
				const res = await fetchUtil('GET', '/md/' + pageId + '/grid', data);

				if(res.status===200){
					const doe006List = await res.json();
					grid.option( 'dataModel', {
						data: doe006List,
						recIndx: 'rowkey'
					});
					grid.refreshDataAndView();
				}
				grid.hideLoading();
			}

			const itemList = document.querySelectorAll('.setting-grid input');
			itemList.forEach(function(item){
				item.addEventListener('keyup', searchEnter);
			})

			// Enter로 검색
			async function searchEnter(event) {
			    const key = event.key || event.keyCode;
			    if (key === 'Enter' || key === 13) {
			        await getDoe006List();
			    }
			}
		}();
		</script>
	</div>
</html>