<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/main/fragment/defaultLayout}">
	<div class="tab-contents" layout:fragment="content">
		<div class="location"></div>
			<div class="search-conditions con-box">
				<div class="setting-grid">
					<label for="doe008Regikey" class="setting-grid-title">[[#{search.regikey}]]</label>
					<div class="setting-grid-content">
						<div class="input-wrapper">
							<input type="text" th:placeholder="${#messages.msg('search.regikey')}"
							id="doe008Regikey" name="doe008Regikey">
						</div>
					</div>
					<label for="doe008Renamlc" class="setting-grid-title">[[#{search.renamlc}]]</label>
					<div class="setting-grid-content">
						<div class="input-wrapper">
							<input type="text" th:placeholder="${#messages.msg('search.renamlc')}"
							id="doe008Renamlc" name="doe008Renamlc">
						</div>
					</div>
					<label for="doe008Regaddr" class="setting-grid-title">[[#{md.mregma.regaddr}]]</label>
					<div class="setting-grid-content">
						<div class="input-wrapper">
							<input type="text" th:placeholder="${#messages.msg('md.mregma.regaddr')}"
							id="doe008Regaddr" name="doe008Regaddr">
						</div>
					</div>
					<label for="doe008Reuseyn" class="setting-grid-title">[[#{md.useyn}]]</label>
					<div class="setting-grid-content">
						<div class="input-group">
							<select id="doe008Reuseyn" class="pq-select">
								<option value="">[[#{ms.chooseAll}]]</option>
								<option value="Y">[[#{search.use}]]</option>
								<option value="N">[[#{search.unuse}]]</option>
							</select>
						</div>
					</div>
				</div>
				<div class="search-btn-group">
					<button type="button" class="btn-search btn-navy btn-green" id="doe008BtnSearch"><img>[[#{bt.search}]]</button>
					<button type="button" class="btn-clear btn-white" id="doe008BtnReset"><img>[[#{bt.reset}]]</button>
				</div>
			</div>
			<div class="search-list">
				<div class="list-top">
					<div class="list-title ic-title-mark">
						<span>[[#{menu.md.doe008}]]</span>
					</div>
					<div class="edit-btn-wrapper">
						<button class="btn-navy btn-green" id="doe008BtnSave"><img class="ic-bt-save">[[#{bt.save}]]</button>
					</div>
				</div>
				<div class="list-grid-wrapper con-box">
					<div id="doe008Grid"></div>
				</div>
			</div>
		<script>
		!function(){
			const pageId = '[[${tabPage}]]';

			// 칼럼
			const doe008GridCM = [
				{ title: '', dataType: 'bool', dataIndx: 'state', align: 'center', type: 'checkbox'
						, sortable: false, editor: false, cb: {	all: false,	header: true},
						nodrag: true, nodrop: true
				},
				{ title: '', dataType: 'string', dataIndx: 'rowkey', editable: false, hidden:true},
				{ title: '[[#{grid.regikey}]]', dataType: 'string', dataIndx: 'regikey', styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
					editable: ui => !ui.rowData['[[#{common.grid.recIndx}]]']
				},
				{ title: '[[#{grid.renamlc}]]', dataType: 'string', dataIndx: 'renamlc', styleHead: { 'background-color':'[[#{grid.styleHead01}]]' }},
				{ title: '[[#{md.mregma.regaddr}]]', dataType: 'string', dataIndx: 'regaddr', styleHead: { 'background-color':'[[#{grid.styleHead01}]]' }},
				{ title: '[[#{md.mregma.regmemo}]]', dataType: 'string', dataIndx: 'regmemo', styleHead: { 'background-color':'[[#{grid.styleHead02}]]' }},
				{ title: '[[#{md.useyn}]]', dataType: 'string', dataIndx: 'reuseyn', styleHead: { 'background-color':'[[#{grid.styleHead02}]]' }
				, type: 'checkbox', editor: false, align: 'center', cb: { all: false, header: true, check: 'Y', uncheck: 'N' }},
				{ title: '[[#{grid.credate}]]', dataType: 'string', dataIndx: 'credate', editable: false},
				{ title: '[[#{grid.cretime}]]', dataType: 'string', dataIndx: 'cretime', editable: false},
				{ title: '[[#{grid.creuser}]]', dataType: 'string', dataIndx: 'creuser', editable: false},
				{ title: '[[#{grid.lmodate}]]', dataType: 'string', dataIndx: 'lmodate', editable: false},
				{ title: '[[#{grid.lmotime}]]', dataType: 'string', dataIndx: 'lmotime', editable: false},
				{ title: '[[#{grid.lmouser}]]', dataType: 'string', dataIndx: 'lmouser', editable: false},
				{ title: '[[#{grid.updtchk}]]',  dataType: 'integer', dataIndx: 'updtchk', editable: false, hidden: true }
			]

			// 그리드 기본 설정
			const doe008Grid = new GridUtil(doe008GridCM, pageId, pageId + 'Grid');
			doe008Grid.setFind();
			doe008Grid.setReset();

			doe008Grid.setCreate(async function(evt, ui) {
				this.option('freezeCols', 1);
			});

			// 그리드 행 추가
			doe008Grid.setAdd(function(evt, ui){
				const rowData = {
					state: true,
					reuseyn: 'Y'
				};
				const rowIndx = this.addRow({
					rowData : rowData,
					checkEditable : false
				});

				this.goToPage({ rowIndx : rowIndx });
				this.editFirstCellInRow({ rowIndx: rowIndx });
				this.focus({
					rowIndxPage: rowIndx,
					colIndx: $('#' + pageId + 'Grid').pqGrid( 'getColIndx', { dataIndx: rowIndx } )
				});
			});

			// 그리드 데이터 변경
			doe008Grid.setChange(async function(evt, ui){
				if('checkbox' === ui.source){
					const updateRowList = [];

					await ui.updateList.forEach(updateData => {
		    			let newRow = {state: true};

		           		if(updateData.newRow.hasOwnProperty('reuseyn')){
		        			updateRowList.push({
								rowIndx: updateData.rowIndx,
								newRow: newRow
							});
		       			}
		   			});
					await this.updateRow({
						rowList: updateRowList,
						checkEditable: false
					});
		    	} else if('edit' === ui.source || 'paste' === ui.source || 'undo' === ui.source || 'redo' === ui.source || 'clear' === ui.source){
		    		let regikeyData;
		    		for(const updateData of ui.updateList){

		    			if(updateData.newRow.hasOwnProperty('regikey') && updateData.oldRow.hasOwnProperty('regikey')){
		    				regikeyData = updateData.newRow['regikey']?.toUpperCase().replaceAll(/\s/g, '');
		    			}

		    			this.updateRow({
							rowIndx : updateData.rowIndx,
							newRow : {
								state: true,
								regikey: regikeyData ? regikeyData : updateData.rowData.regikey,
								reuseyn: updateData.rowData.reuseyn
							},
							checkEditable : false
			    		})
		    		}
		    		for(const addData of ui.addList){
		    			addData.rowData.state = true;
		    			addData.rowData.regikey = regikeyData ? regikeyData : addData.rowData.regikey;
		    			addData.rowData.reuseyn = addData?.newRow?.reuseyn || 'Y';
		    		}
		    	}
				doe008Grid.getGrid().refresh();
			});

			// Grid 객체 생성
			doe008Grid.open();


			// 검색 버튼
			document.querySelector('#' + pageId + 'BtnSearch').addEventListener('click', async function(){
				await getDoe008List();
			})

			// 저장 버튼
			document.querySelector('#' + pageId + 'BtnSave').addEventListener('click', async function(){
				const validation = validateEssentialFieldBeforeSaveGridUtil(doe008Grid, [ 'regikey', 'renamlc', 'regaddr'])
									&& validateDuplicationFieldBeforeSaveGridUtil(doe008Grid, ['regikey']);
				if(!validation || (await !confirm('[[#{ms.checksave}]]'))){ // 저장 하시겠습니까?
					return;
				}
				await saveGridUtil(doe008Grid, refineGridUtilSaveList(doe008Grid), '/md/' + pageId + '/grid');
				getDoe008List();
			})

			// 초기화 버튼
			document.querySelector('#' + pageId + 'BtnReset').addEventListener('click', async function(){
				resetSearchConditions(pageId);
				makeEmptyGrid(doe008Grid);
			})

			// Grid 데이터 조회 함수
			async function getDoe008List(){
				const grid = pq.grid('#' + pageId + 'Grid');
				const data = {
						regikey : document.querySelector('#' + pageId + 'Regikey').value.toUpperCase(),
						renamlc : document.querySelector('#' + pageId + 'Renamlc').value.toUpperCase(),
						regaddr : document.querySelector('#' + pageId + 'Regaddr').value.toUpperCase(),
			  			reuseyn : document.querySelector('#' + pageId + 'Reuseyn').value
				};

				grid.showLoading();
				const res = await fetchUtil('GET', '/md/' + pageId + '/grid', data);

				if(res.status===200){
					const doe008List = await res.json();
					grid.option( 'dataModel', {
						data: doe008List,
						recIndx: 'rowkey'
					});
					grid.refreshDataAndView();
				}
				grid.hideLoading();
			}

			const itemList = document.querySelectorAll('.setting-grid input');
			itemList.forEach(function(item){
				item.addEventListener('keyup', searchEnter);
			})

			// Enter로 검색
			async function searchEnter(event) {
			    const key = event.key || event.keyCode;
			    if (key === 'Enter' || key === 13) {
			        await getDoe008List();
			    }
			}
		}();
		</script>
	</div>
</html>