<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/main/fragment/defaultLayout}">
	<div class="tab-contents" layout:fragment="content">
		<div class="location"></div>
		<div class="search-conditions con-box">
			<div class="setting-grid">
				<label for="doe062Warekey" class="setting-grid-title ic-title-nece">[[#{search.whnamlc}]]</label>
				<div class="setting-grid-content">
					<div class="input-group">
						<select id="doe062Warekey" name="doe062Warekey"
						data-cb-val="combovl" data-cb-name="combonm" data-cb-url="/md/organization/warehouse"
						data-cb-variable="warekeyList">
						</select>
					</div>
				</div>
				<label for="doe062Vhpdate" class="setting-grid-title">[[#{tm.tplnhd.vhpdate}]]</label>
				<div class="setting-grid-content">
					<div class="input-date-group">
						<input type="date" id="doe062VhpdateFrom">
						<span>~</span>
						<input type="date" id="doe062VhpdateTo">
					</div>
				</div>
				<label for="doe062Vhcfnam" class="setting-grid-title">[[#{tm.common.vhcfnam}]]</label>
				<div class="setting-grid-content">
					<div class="input-wrapper">
						<input type="text" th:placeholder="${#messages.msg('tm.common.vhcfnam')}" id="doe062Vhcfnam" name="doe062Vhcfnam" onkeyup="doe062KeyupEvt()">
					</div>
				</div>
			</div>
			<div class="search-btn-group">
				<button type="button" class="btn-search btn-navy btn-green" id="doe062Search"><img>[[#{bt.search}]]</button>
				<button type="button" class="btn-clear btn-white" id="doe062Reset"><img>[[#{bt.reset}]]</button>
			</div>
		</div>
		<div class="search-list">
			<div class="list-top">
				<div class="list-title ic-title-mark">
					<span>[[#{menu.tm.doe062}]]</span>
				</div>
				<div class="edit-btn-wrapper">
					<button class="btn-navy btn-green" id="doe062Approval">[[#{tm.common.approval}]]</button>
					<button class="btn-navy btn-green" id="doe062Cancel">[[#{tm.common.cancel}]]</button>
				</div>
			</div>
			<div class="list-grid-wrapper con-box">
				<div id="doe062HeadGrid"></div>
			</div>
		</div>
		<div class="search-list">
			<div class="list-grid-wrapper con-box">
				<div id="doe062ItemGrid"></div>
			</div>
		</div>
		<script>
		!function() {
			const pageId = 'doe062';

			//날짜 셋팅
			const yesterday = moment().subtract(1, 'd').format('YYYY-MM-DD');
			const today = moment().format('YYYY-MM-DD');
			const vhpdateFrom = document.querySelector('#' + pageId + 'VhpdateFrom');
			const vhpdateTo = document.querySelector('#' + pageId + 'VhpdateTo');
			vhpdateFrom.value = yesterday;
			vhpdateTo.value = today;
			
			dateValidation(vhpdateFrom, vhpdateTo, 'doe062Vhpdate', 'd', 1);
	
			//========================================================
			//DOE062 Head Grid (헤드 그리드)
			//========================================================
			//헤드 그리드 column Model
			const doe062HeadGridCM = [
				{ title: '', dataType: 'bool', dataIndx: 'state', align: 'center',
					type: 'checkbox', cls: 'ui-state-default', sortable: false, editor: false,
					cb: { all: false, header: true},
					nodrag: true, nodrop: true
				},
				{ title: '[[#{tm.common.doccate}]]', dataType: 'string', dataIndx: 'docctnm', editable: false, hidden: true },
				{ title: '[[#{tm.common.doctype}]]', dataType: 'string', dataIndx: 'doctynm', editable: false },
				{ title: '[[#{tm.tplnhd.vhplnky}]]', dataType: 'string', dataIndx: 'vhplnky', editable: false },
				{ title: '[[#{grid.whnamlc}]]', dataType: 'string', dataIndx: 'whnamlc', editable: false },
				{ title: '[[#{tm.tplnhd.loadkey}]]', dataType: 'string', dataIndx: 'lonamlc', editable: false },
				{ title: '[[#{tm.common.vhcfnam}]]', dataType: 'string', dataIndx: 'vhcfnam', editable: false },
				{ title: '[[#{tm.tplnhd.vownkey}]]', dataType: 'string', dataIndx: 'vonamlc', editable: false },
				{ title: '[[#{tm.mvhcma.vhctncd}]]', dataType: 'string', dataIndx: 'vhnamlc', editable: false },
				{ title: '[[#{tm.common.drvernm}]]', dataType: 'string', dataIndx: 'drvernm', editable: false },
				{ title: '[[#{md.mvhcma.drverph}]]', dataType: 'string', dataIndx: 'drverph', editable: false },
				{ title: '[[#{tm.doe058.odweig}]]', dataType: 'integer', dataIndx: 'orderweig', editable: false, format: '#,###', summary: { type: 'sum' } },
				{ title: '[[#{tm.common.totalweig}]]', dataType: 'integer', dataIndx: 'totalweig', editable: false, format: '#,###', summary: { type: 'sum' } },
				{ title: '[[#{tm.tplnhd.tpnstat}]]', dataType: 'string', dataIndx: 'plnamlc', editable: false },
				{ title: '[[#{tm.tplnhd.mixcuyn}]]', dataType: 'string', dataIndx: 'mixcuyn', editable: false },
				{ title: '[[#{tm.doe058.tpriloc}]]', dataType: 'string', dataIndx: 'trlocml', editable: false },
				{ title: '[[#{tm.doe058.spriloc}]]', dataType: 'string', dataIndx: 'srlocml', editable: false },
				{ title: '[[#{tm.tplnhd.vhpdate}]]', dataType: 'string', dataIndx: 'vhpdate', editable: false },
				{ title: '[[#{tm.tplnhd.vhptime}]]', dataType: 'string', dataIndx: 'vhptime', editable: false },
				{ title: '[[#{grid.creuser}]]', dataType: 'string', dataIndx: 'creuser', editable: false },
				{ title: '[[#{grid.credate}]]', dataType: 'string', dataIndx: 'credate', editable: false },
				{ title: '[[#{grid.cretime}]]', dataType: 'string', dataIndx: 'cretime', editable: false },
				{ title: '[[#{grid.lmouser}]]', dataType: 'string', dataIndx: 'lmouser', editable: false },
				{ title: '[[#{grid.lmodate}]]', dataType: 'string', dataIndx: 'lmodate', editable: false },
				{ title: '[[#{grid.lmotime}]]', dataType: 'string', dataIndx: 'lmotime', editable: false },
				{ title: '[[#{grid.updtchk}]]', dataType: 'integer', dataIndx: 'updtchk', editable: false, format: '#,###' }
			]

			const doe062HeadGrid = new GridUtil(doe062HeadGridCM, pageId, pageId + 'HeadGrid');

			doe062HeadGrid.setFind();

			//헤드 그리드 create 이벤트
			doe062HeadGrid.setCreate(async function() {
				await _commonInit(pageId);
				
				//그리드 내 고정 시킬 열의 갯수
				this.option('freezeCols', 1);
			});
			
			//헤드 그리드 셀 더블클릭 이벤트
			//아이템 그리드 데이터 표시
			doe062HeadGrid.setCellDblClick(async function(evt, ui) {
				const data = {
						vhplnky: ui.rowData.vhplnky,
						warekey: document.querySelector('#' + pageId + 'Warekey').value
				}
				
				const grid = pq.grid('#' + pageId + 'ItemGrid');
				
				grid.showLoading();
				
				const itemGridList = await fetchUtil('GET', '/tm/dispatch/common/itemgrid', data);
				
				if(itemGridList.status !== 200) {
					grid.option('dataModel', {data: []});
				}else {
					const itemGridData = await itemGridList.json();
					
					grid.option('dataModel', {
						data: itemGridData,
						recIndx: 'rowkey'
					});
				}

				grid.refreshDataAndView();
				grid.hideLoading();
			});
			
			//그리드 초기 높이
			doe062HeadGrid.setHeight(300);

			doe062HeadGrid.open();

			//========================================================
			//DOE062 Item Grid (아이템 그리드)
			//========================================================
			//아이템 그리드 column Model
			const doe062ItemGridCM = [
				{ title: '[[#{tm.tplnhd.vhplnky}]]', dataType: 'string', dataIndx: 'vhplnky', editable: false },
				{ title: '[[#{tm.tplnit.vhplnit}]]', dataType: 'integer', dataIndx: 'vhplnit', editable: false, format: '#,###' },
				{ title: '[[#{tm.tplnit.skumkey}]]', dataType: 'string', dataIndx: 'skumkey', editable: false },
				{ title: '[[#{tm.tplnit.skuthic}]]', dataType: 'float', dataIndx: 'skuthic', editable: false, format: '#,###.000', summary: { type: 'max' } },
				{ title: '[[#{tm.tplnit.skuwidt}]]', dataType: 'float', dataIndx: 'skuwidt', editable: false, format: '#,###.0', summary: { type: 'max' } },
				{ title: '[[#{tm.tplnit.skuleng}]]', dataType: 'integer', dataIndx: 'skuleng', editable: false, format: '#,###', summary: { type: 'max' } },
				{ title: '[[#{tm.tplnit.skuweig}]]', dataType: 'integer', dataIndx: 'skuweig', editable: false, format: '#,###', summary: { type: 'sum' } },
				{ title: '[[#{grid.grossth}]]', dataType: 'float', dataIndx: 'grossth', editable: false, format: '#,###.000', summary: { type: 'max' } },
				{ title: '[[#{grid.grosswd}]]', dataType: 'float', dataIndx: 'grosswd', editable: false, format: '#,###.0', summary: { type: 'max' } },
				{ title: '[[#{grid.grossln}]]', dataType: 'integer', dataIndx: 'grossln', editable: false, format: '#,###', summary: { type: 'max' } },
				{ title: '[[#{grid.grosswg}]]', dataType: 'integer', dataIndx: 'grosswg', editable: false, format: '#,###', summary: { type: 'sum' } },
				{ title: '[[#{grid.addcoky}]]', dataType: 'string', dataIndx: 'addnaml', editable: false },
				{ title: '[[#{grid.btrcate}]]', dataType: 'string', dataIndx: 'btrcnam', editable: false },
				{ title: '[[#{grid.custkey}]]', dataType: 'string', dataIndx: 'custcod', editable: false },
				{ title: '[[#{grid.cunamlc}]]', dataType: 'string', dataIndx: 'custnam', editable: false },
				{ title: '[[#{grid.regiorg}]]', dataType: 'string', dataIndx: 'regiorg', editable: false },
				{ title: '[[#{grid.rgorgnm}]]', dataType: 'string', dataIndx: 'ronamlc', editable: false },
				{ title: '[[#{grid.regimod}]]', dataType: 'string', dataIndx: 'regimod', editable: false },
				{ title: '[[#{grid.remodnm}]]', dataType: 'string', dataIndx: 'rmnamlc', editable: false },
				{ title: '[[#{grid.destorg}]]', dataType: 'string', dataIndx: 'destorg', editable: false },
				{ title: '[[#{grid.deorgnm}]]', dataType: 'string', dataIndx: 'deorgnm', editable: false },
				{ title: '[[#{grid.destmod}]]', dataType: 'string', dataIndx: 'destmod', editable: false },
				{ title: '[[#{grid.demodnm}]]', dataType: 'string', dataIndx: 'demodnm', editable: false },
				{ title: '[[#{tm.tplnit.demdadr}]]', dataType: 'string', dataIndx: 'stockaddr', editable: false },
				{ title: '[[#{tm.tplnit.demdnam}]]', dataType: 'string', dataIndx: 'demdman', editable: false },
				{ title: '[[#{tm.tplnit.demdtln}]]', dataType: 'string', dataIndx: 'demdtln', editable: false },
				{ title: '[[#{grid.ownerky}]]', dataType: 'string', dataIndx: 'ownerky', editable: false },
				{ title: '[[#{grid.ownamlc}]]', dataType: 'string', dataIndx: 'ownrnam', editable: false },
				{ title: '[[#{tm.tplnit.plnsize}]]', dataType: 'string', dataIndx: 'pnszmlc', editable: false },
				{ title: '[[#{tm.wplnhd.skugrky}]]', dataType: 'string', dataIndx: 'sknamlc', editable: false },
				{ title: '[[#{tm.common.stkmemo}]]', dataType: 'string', dataIndx: 'stkmemo', editable: false },
				{ title: '[[#{tm.tplnit.itemcod}]]', dataType: 'string', dataIndx: 'itemmlc', editable: false },
				{ title: '[[#{tm.tplnit.tritqty}]]', dataType: 'integer', dataIndx: 'tritqty', editable: false, format: '#,###', summary: { type: 'sum' } },
				{ title: '[[#{im.wasnit.poshpdt}]]', dataType: 'string', dataIndx: 'poshpdt', editable: false },
				{ title: '[[#{im.wasnit.poshptm}]]', dataType: 'string', dataIndx: 'poshptm', editable: false },
				{ title: '[[#{im.wasnit.poshpdy}]]', dataType: 'string', dataIndx: 'poshpdy', editable: false },
				{ title: '[[#{grid.shplimt}]]', dataType: 'string', dataIndx: 'shplimt', editable: false },
				{ title: '[[#{grid.delvdsr}]]', dataType: 'string', dataIndx: 'delvdsr', editable: false },
				{ title: '[[#{tm.tplnit.purcnum}]]', dataType: 'string', dataIndx: 'purcnum', editable: false },
				{ title: '[[#{tm.tplnit.orderln}]]', dataType: 'string', dataIndx: 'orderln', editable: false },
				{ title: '[[#{grid.btrfstc}]]', dataType: 'string', dataIndx: 'btrfstc', editable: false },
				{ title: '[[#{tm.tplnit.emskuyn}]]', dataType: 'string', dataIndx: 'emskuyn', editable: false,
					type: 'checkbox', align: 'center',
					cb: { all: false, header: false, check: 'Y', uncheck: 'N' }
				},
				{ title: '[[#{tm.wplnhd.shpplky}]]', dataType: 'string', dataIndx: 'shpplky', editable: false },
				{ title: '[[#{tm.wplnit.shpplit}]]', dataType: 'integer', dataIndx: 'shpplit', editable: false },
				{ title: '[[#{grid.creuser}]]', dataType: 'string', dataIndx: 'creuser', editable: false },
				{ title: '[[#{grid.credate}]]', dataType: 'string', dataIndx: 'credate', editable: false },
				{ title: '[[#{grid.cretime}]]', dataType: 'string', dataIndx: 'cretime', editable: false },
				{ title: '[[#{grid.lmouser}]]', dataType: 'string', dataIndx: 'lmouser', editable: false },
				{ title: '[[#{grid.lmodate}]]', dataType: 'string', dataIndx: 'lmodate', editable: false },
				{ title: '[[#{grid.lmotime}]]', dataType: 'string', dataIndx: 'lmotime', editable: false },
				{ title: '[[#{grid.updtchk}]]', dataType: 'integer', dataIndx: 'updtchk', editable: false, format: '#,###' }
			]

			const doe062ItemGrid = new GridUtil(doe062ItemGridCM, pageId, pageId + 'ItemGrid');

			doe062ItemGrid.setFind();
			
			//아이템 그리드 rowInit 이벤트
			//긴급재여부(emskuyn)이 Y라면 백그라운드 색 변경, 폰트 굵기 변경
			doe062ItemGrid.setRowInit(function(ui) {
				if(ui.rowData.emskuyn === 'Y'){
					return {
						style: ui.rowData.emskuyn === 'Y' ? 'background-color: #FAED7D; font-weight: bold;' : ''
					}
				}
			});
			
			//그리드 초기 높이
			doe062ItemGrid.setHeight(300);
			
			doe062ItemGrid.open();

			//초기화
			document.querySelector('#' + pageId + 'Reset').addEventListener('click', function () {
				const headGrid = pq.grid('#' + pageId + 'HeadGrid');
				const itemGrid = pq.grid('#' + pageId + 'ItemGrid');
				
				if(headGrid.pdata.length > 0 || itemGrid.pdata.length > 0) {
					if(!confirm('[[#{ms.listViewRollback}]]')) {
						return;
					}
				}
				
				resetSearchConditions(pageId);

				makeEmptyGrid(doe062HeadGrid);
				makeEmptyGrid(doe062ItemGrid);
			});
			
			//검색
			document.querySelector('#' + pageId + 'Search').addEventListener('click', async function() {
				await doe062SearchData();
			});
			
			let previousWarekey;
			document.querySelector('#' + pageId + 'Warekey').addEventListener('focus', function() {
				previousWarekey = this.value;
			});
			
			//창고 change evt
			document.querySelector('#' + pageId + 'Warekey').addEventListener('change', async function() {
				const headGrid = pq.grid('#' + pageId + 'HeadGrid');
				const itemGrid = pq.grid('#' + pageId + 'ItemGrid');
				
				if(headGrid.pdata.length > 0 || itemGrid.pdata.length > 0) {
					if(!confirm('[[#{ms.listViewRollback}]]')) {
						document.querySelector('#' + pageId + 'Warekey').value = previousWarekey;
						return;
					}
				}
				
				await doe062SearchData();
			});
			
			//승인버튼 클릭
			document.querySelector('#' + pageId + 'Approval').addEventListener('click', async function() {
				const aprovyn = 'APPROVAL';
				await updateAprovyn(aprovyn);
			});
			
			//취소버튼 클릭
			document.querySelector('#' + pageId + 'Cancel').addEventListener('click', async function() {
				const aprovyn = 'CANCEL';
				await updateAprovyn(aprovyn);
			});
			
			//승인여부 업데이트
			async function updateAprovyn(aprovyn) {
				const grid = pq.grid('#' + pageId + 'HeadGrid');
				const checkList = grid.Checkbox('state').getCheckedNodes();
				const itemGrid = pq.grid('#' + pageId + 'ItemGrid');
				
				if(checkList.length <= 0) {
					//선택된 Row가 없습니다.
					alert('[[#{ms.choiceRowZero}]]');
					return false;
				}
				
				//저장 하시겠습니까?
				const result = confirm('[[#{ms.checksave}]]');
				
				if(result === true) {
					const data = {
							checkList: checkList,
							aprovyn: aprovyn,
							pageId: pageId,
							...(aprovyn === 'CANCEL' && { tpnstat: 'CANCEL' })
					}
					
					try {
						grid.showLoading();
						itemGrid.showLoading();
						
						const response = await fetchUtil('PATCH', '/tm/dispatch/doe062/update', data);
						
						if(response.status === 200) {
							grid.option('dataModel', {data: []});
							itemGrid.option('dataModel', {data: []});
						}else {
							//저장 실패하였습니다.
							alert('[[#{ms.saveErr}]]');
						}
					}catch(err) {
						//저장 실패하였습니다.
						alert('[[#{ms.saveErr}]]');
					}finally {
						grid.refreshDataAndView();
						itemGrid.refreshDataAndView();
						grid.hideLoading();
						itemGrid.hideLoading();
					}
				}
			}
			
		}();
		
		//keyup
		async function doe062KeyupEvt() {
			const key = this.event.key || this.event.keyCode;
			if(key === 'Enter' || key === 13) {
				await doe062SearchData();
			}
		}
		
		//검색
		async function doe062SearchData() {
			const pageId = 'doe062';
			
			const data = {
					warekey: document.querySelector('#' + pageId + 'Warekey').value,
					vhcfnam: document.querySelector('#' + pageId + 'Vhcfnam').value,
					aprovyn: 'STAY',
					vhpdateFrom: document.querySelector('#' + pageId + 'VhpdateFrom').value.replaceAll('-', ''),
					vhpdateTo: document.querySelector('#' + pageId + 'VhpdateTo').value.replaceAll('-', '')
			}
			
			const headGrid = pq.grid('#' + pageId + 'HeadGrid');
			
			headGrid.showLoading();
			
			const headGridList = await fetchUtil('GET', '/tm/dispatch/common/headgrid', data);
			
			if(headGridList.status !== 200) {
				headGrid.option('dataModel', {data: []});
			}else {
				const headGridData = await headGridList.json();
				
				headGrid.option('dataModel', {
					data: headGridData,
					recIndx: 'rowkey'
				});
			}

			headGrid.refreshDataAndView();
			headGrid.hideLoading();
			
			const itemGrid = pq.grid('#' + pageId + 'ItemGrid');
			
			itemGrid.showLoading();
			
			itemGrid.option('dataModel', {data: []});
			
			itemGrid.refreshDataAndView();
			itemGrid.hideLoading();
			
		}
		</script>
	</div>
</html>