<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/main/fragment/defaultLayout}">
	<div class="tab-contents" layout:fragment="content">
		<div class="location"></div>
		<div class="search-conditions con-box">
			<div class="setting-grid">
				<label for="doe089Warekey" class="setting-grid-title ic-title-nece">[[#{search.whnamlc}]]</label>
				<div class="setting-grid-content">
					<div class="input-group">
						<select id="doe089Warekey" name="doe089Warekey"
						data-cb-val="combovl" data-cb-name="combonm" data-cb-url="/md/organization/warehouse"
						data-cb-select="" data-cb-variable="warekeyList">
						</select>
					</div>
				</div>
				<label for="doe089Areakey" class="setting-grid-title">[[#{search.areanam}]]</label>
				<div class="setting-grid-content">
					<div class="input-group">
						<select id="doe089Areakey" name="doe089Areakey"
						data-cb-val="areakey" data-cb-name="areanam" data-cb-url="/md/organization/area/relation"
						data-cb-select="" data-cb-variable="areakeyList">
							<option value="">[[#{ms.chooseAll}]]</option>
						</select>
					</div>
				</div>
				<label for="doe089Locakey" class="setting-grid-title">[[#{search.locanam}]]</label>
				<div class="setting-grid-content">
					<div class="input-group">
						<select id="doe089Locakey" name="doe089Locakey"
						data-cb-val="locakey" data-cb-name="locanam" data-cb-url="/md/wal-relations?loctypeList=BED,TMP"
						data-cb-select="" data-cb-variable="locakeyList" multiple="multiple">
						</select>
					</div>
				</div>
				<label for="doe089Skumkey" class="setting-grid-title">[[#{search.skuCode}]]</label>
				<div class="setting-grid-content">
					<div class="input-wrapper">
						<input type="text" th:placeholder="${#messages.msg('search.skuCode')}" id="doe089Skumkey" name="doe089Skumkey" onkeyup="doe089KeyupEvt()"/>
					</div>
				</div>
				<label for="doe089Custnam" class="setting-grid-title">[[#{search.cunamlc}]]</label>
				<div class="setting-grid-content">
					<div class="input-wrapper">
						<input type="text" th:placeholder="${#messages.msg('search.cunamlc')}" id="doe089Custnam" name="doe089Custnam" onkeyup="doe089KeyupEvt()"/>
					</div>
				</div>
				<label for="doe089Purcnum" class="setting-grid-title">[[#{grid.purcnum}]]</label>
				<div class="setting-grid-content">
					<div class="input-wrapper">
						<input type="text" th:placeholder="${#messages.msg('grid.purcnum')}" id="doe089Purcnum" name="doe089Purcnum" onkeyup="doe089KeyupEvt()">
					</div>
				</div>
				<label for="doe089Orderln" class="setting-grid-title">[[#{grid.orderln}]]</label>
				<div class="setting-grid-content">
					<div class="input-wrapper">
						<input type="text" th:placeholder="${#messages.msg('grid.orderln')}" id="doe089Orderln" name="doe089Orderln" onkeyup="doe089KeyupEvt()">
					</div>
				</div>
				<label for="doe089Regikey" class="setting-grid-title">[[#{search.renamlc}]]</label>
				<div class="setting-grid-content">
					<div class="input-group">
						<select id="doe089Regikey"
							data-cb-val="combovl" data-cb-name="combonm" data-cb-url="/md/partner/region"
							data-cb-select="" data-cb-variable="regionList" multiple="multiple">
						</select>
					</div>
				</div>
				<label for="doe089Demodnm" class="setting-grid-title">[[#{search.denamlc}]]</label>
				<div class="setting-grid-content">
					<div class="input-wrapper">
						<input type="text" th:placeholder="${#messages.msg('search.denamlc')}" id="doe089Demodnm" name="doe089Demodnm" onkeyup="doe089KeyupEvt()">
					</div>
				</div>
			</div>
			<div class="search-btn-group">
				<button type="button" class="btn-search btn-navy btn-green" id="doe089BtnSearch"><img>[[#{bt.search}]]</button>
				<button type="button" class="btn-clear btn-white" id="doe089BtnReset"><img>[[#{bt.reset}]]</button>
			</div>
		</div>
		<div class="search-list">
			<div class="list-top">
				<div class="list-title ic-title-mark">
					<span>[[#{menu.sm.doe089}]]</span>
				</div>
				<div class="edit-btn-wrapper">
                    <span>[[#{grid.itemcnt}]] : </span>
                    <span id="doe089Itemcnt">0</span>
                    /
                    <span>[[#{bm.common.totalwg}]] : </span>
                    <span id="doe089TotalKg">0</span>
                    /
                    <span>[[#{sy.main.totalWeight}]] : </span>
                    <span id="doe089TotalTon">0</span>
					<a href="#" id="doe089OpenNewWindow"><button class="btn-search btn-navy btn-green">베드별 조회</button></a>
				</div>
			</div>
			<div class="list-grid-wrapper con-box">
				<div id="doe089Grid"></div>
			</div>
		</div>
	<script>
	!function(){
		console.log('doe089 :: 재고 조회')
		const pageId = '[[${tabPage}]]';

		let doe089StockList;
		const doe089GridCM = [
			{ title: '', dataType: 'string',  dataIndx: 'state', type: 'checkbox', align: 'center'
				, maxWidth:'30', maxHeight:'30', menuIcon: false, sortable: false, editor: false,
				cb: { all: false, header: true, check: 'Y', uncheck: 'N' },
				nodrag: true, nodrop: true, editable: true
			},
			{ title: '[[#{common.grid.recIndx}]]', dataType: 'string', dataIndx: 'rowkey', editable: false, hidden: true},
			{ title: '[[#{sm.wstkky.stockky}]]', dataType: 'string', dataIndx: 'stockky', editable: false, hidden: true}, // hidden 처리
			{ title: '[[#{grid.wareCode}]]', dataType: 'string', dataIndx: 'warekey', editable: false, hidden: true }, // hidden 처리
			{ title: '[[#{grid.whnamlc}]]', dataType: 'string', dataIndx: 'whnamlc', editable: false },
			{ title: '[[#{sm.wstkky.emskuyn}]]', dataType: 'string',  dataIndx: 'emskuyn', type: 'checkbox', align: 'center'
				, menuIcon: false, sortable: false, editor: false, editable: false,
				cb: { all: false, header: false, check: 'Y', uncheck: 'N' }
			},
			{ title: '[[#{grid.areakey}]]', dataType: 'string', dataIndx: 'areakey', editable: false, hidden: true }, // hidden 처리
			{ title: '[[#{grid.areanam}]]', dataType: 'string', dataIndx: 'areanam', editable: false },
			{ title: '[[#{grid.locakey}]]', dataType: 'string', dataIndx: 'locakey', editable: false, hidden: true }, // hidden 처리
			{ title: '[[#{grid.locanam}]]', dataType: 'string', dataIndx: 'locanam', editable: false },
			{ title: '[[#{grid.layer}]]', dataType: 'integer', dataIndx: 'lolayer', editable: false },
			{ title: '[[#{grid.btrcnam}]]', dataType: 'string', dataIndx: 'btrcnam', editable: false },
			{ title: '[[#{bm.baddco.addconm}]]', dataType: 'string', dataIndx: 'addconm', editable: false },
			{ title: '[[#{grid.skugrky}]]', dataType: 'string', dataIndx: 'skugrky', editable: false, hidden : true},
			{ title: '[[#{grid.grpkynm}]]', dataType: 'string', dataIndx: 'grpkynm', editable: false},
			{ title: '[[#{sm.wstkky.skumkey}]]', dataType: 'string', dataIndx: 'skumkey', editable: false },
			{ title: '[[#{sm.wstkky.skuthic}]]', dataType: 'double', dataIndx: 'skuthic', format: '#,###.000', editable: false, summary: { type : 'max' }},
			{ title: '[[#{sm.wstkky.skuwidt}]]', dataType: 'double', dataIndx: 'skuwidt', format: '#,###.0', editable: false, summary: { type : 'max' } },
			{ title: '[[#{sm.wstkky.skuleng}]]', dataType: 'integer', dataIndx: 'skuleng', format: '#,###', editable: false, summary: { type : 'max' } },
			{ title: '[[#{sm.wstkky.skuweig}]]', dataType: 'integer', dataIndx: 'skuweig', format: '#,###', editable: false, summary: { type : 'sum' } },
			{ title: '[[#{sm.wstkky.grossth}]]', dataType: 'double', dataIndx: 'grossth', format: '#,###.000', editable: false, summary: { type : 'max' } },
			{ title: '[[#{sm.wstkky.grosswd}]]', dataType: 'double', dataIndx: 'grosswd', format: '#,###.0', editable: false, summary: { type : 'max' }},
			{ title: '[[#{sm.wstkky.grossln}]]', dataType: 'integer', dataIndx: 'grossln', format: '#,###', editable: false, summary: { type : 'max' } },
			{ title: '[[#{sm.wstkky.grosswg}]]', dataType: 'integer', dataIndx: 'grosswg',format: '#,###', editable: false , summary: { type : 'sum' }},
			{ title: '[[#{sm.wstkky.ownerky}]]', dataType: 'string', dataIndx: 'ownerky', editable: false, hidden: true }, // hidden 처리
			{ title: '[[#{sm.wstkky.ownrnam}]]', dataType: 'string', dataIndx: 'ownrnam', editable: false },
			{ title: '[[#{sm.wstkky.custkey}]]', dataType: 'string', dataIndx: 'custcod', editable: false, hidden: true }, // hidden 처리
			{ title: '[[#{sm.wstkky.custnam}]]', dataType: 'string', dataIndx: 'custnam', editable: false},
			{ title: '[[#{sm.wstkky.regiorg}]]', dataType: 'string', dataIndx: 'regiorg', editable: false},
			{ title: '[[#{sm.wstkky.renamlc}]]', dataType: 'string', dataIndx: 'renamlc', editable: false },
			{ title: '[[#{sm.wstkky.regimod}]]', dataType: 'string', dataIndx: 'regimod', editable: false},
			{ title: '[[#{sm.wstkky.remodnm}]]', dataType: 'string', dataIndx: 'remodnm', editable: false },
			{ title: '[[#{sm.wstkky.destorg}]]', dataType: 'string', dataIndx: 'destorg', editable: false, hidden: true }, // hidden 처리
			{ title: '[[#{sm.wstkky.deorgnm}]]', dataType: 'string', dataIndx: 'deorgnm', editable: false },
			{ title: '[[#{sm.wstkky.destmod}]]', dataType: 'string', dataIndx: 'destmod', editable: false, hidden: true }, // hidden 처리
			{ title: '[[#{sm.wstkky.demodnm}]]', dataType: 'string', dataIndx: 'demodnm', editable: false },
			{ title: '[[#{md.addr}]]', dataType: 'string', dataIndx: 'demdadr', editable: false },
			{ title: '[[#{md.mannm}]]', dataType: 'string', dataIndx: 'demdman', editable: false },
			{ title: '[[#{md.mdesma.desteln}]]', dataType: 'string', dataIndx: 'demdtln', editable: false },
			{ title: '[[#{sm.wstkky.purcnum}]]', dataType: 'string', dataIndx: 'purcnum', editable: false },
			{ title: '[[#{sm.wstkky.lotnmky}]]', dataType: 'string', dataIndx: 'lotnmky', editable: false },
			{ title: '[[#{sm.wstkky.stlotnb}]]', dataType: 'string', dataIndx: 'stlotnb', editable: false },
			{ title: '[[#{sm.wstkky.orderln}]]', dataType: 'string', dataIndx: 'orderln', editable: false },
			{ title: '[[#{sm.wstkky.stkmemo}]]', dataType: 'string', dataIndx: 'stkmemo',editable: false },
			{ title: '[[#{sm.wstkky.skudesc}]]', dataType: 'string', dataIndx: 'skudesc', editable: false },
			{ title: '[[#{sm.wstkky.itemcod}]]', dataType: 'string', dataIndx: 'itemcod', editable: false },
			{ title: '[[#{grid.btrfstc}]]', dataType: 'string', dataIndx: 'btrfstc', editable: false },
			{ title: '[[#{bm.baddco.addcoky}]]', dataType: 'string', dataIndx: 'addcoky', editable: false, hidden : true},
			{ title: '[[#{sm.wstkky.stotqty}]]', dataType: 'integer', dataIndx: 'stotqty', editable: false, format: '#,###', summary: { type : 'sum' } },
			{ title: '[[#{sm.wstkky.taskqty}]]', dataType: 'integer', dataIndx: 'taskqty', editable: false, format: '#,###', summary: { type : 'sum' } },
			{ title: '[[#{sm.wstkky.sallqty}]]', dataType: 'integer', dataIndx: 'sallqty', editable: false, format: '#,###', summary: { type : 'sum' } },
			{ title: '[[#{sm.wstkky.sbloqty}]]', dataType: 'integer', dataIndx: 'sbloqty', editable: false, format: '#,###', summary: { type : 'sum' } },
			{ title: '[[#{sm.wstkky.planqty}]]', dataType: 'integer', dataIndx: 'planqty', editable: false, format: '#,###', summary: { type : 'sum' } },
			{ title: '[[#{sm.wstkky.plcmqty}]]', dataType: 'integer', dataIndx: 'plcmqty', editable: false, format: '#,###', summary: { type : 'sum' } },
			{ title: '[[#{sm.wstkky.suomkey}]]', dataType: 'string', dataIndx: 'suomkey', editable: false },
			{ title: '[[#{sm.wstkky.rcvdcdt}]]', dataType: 'string', dataIndx: 'rcvdcdt', editable: false },
			{ title: '[[#{sm.wstkky.rcvdctm}]]', dataType: 'string', dataIndx: 'rcvdctm', editable: false },
			{ title: '[[#{sm.wstkky.shplimt}]]', dataType: 'string', dataIndx: 'shplimt', editable: false },
			{ title: '[[#{sm.wstkky.delvdsr}]]', dataType: 'string', dataIndx: 'delvdsr', editable: false },
			{ title: '[[#{sm.wstkky.poshpdt}]]', dataType: 'string', dataIndx: 'poshpdt', editable: false },
			{ title: '[[#{sm.wstkky.poshptm}]]', dataType: 'string', dataIndx: 'poshptm', editable: false },
			{ title: '[[#{sm.wstkky.poshpdy}]]', dataType: 'string', dataIndx: 'poshpdy', editable: false },
			{ title: '[[#{sm.wstkky.lotat01}]]', dataType: 'string', dataIndx: 'lotat01', editable: false },
			{ title: '[[#{sm.wstkky.lotat02}]]', dataType: 'string', dataIndx: 'lotat02', editable: false },
			{ title: '[[#{sm.wstkky.lotat03}]]', dataType: 'string', dataIndx: 'lotat03', editable: false },
			{ title: '[[#{sm.wstkky.stkstat}]]', dataType: 'string', dataIndx: 'stkstat', editable: false, hidden: true },
			{ title: '[[#{sm.wstkky.stkstat}]]', dataType: 'string', dataIndx: 'statnam', editable: false },
			{ title: '[[#{sm.wstkky.blockid}]]', dataType: 'string', dataIndx: 'blockid', editable: false },
			{ title: '[[#{sm.wstkky.rcvdcky}]]', dataType: 'string', dataIndx: 'rcvdcky', editable: false, hidden: true },
			{ title: '[[#{sm.wstkky.rcvdcit}]]', dataType: 'integer', dataIndx: 'rcvdcit', editable: false, hidden: true },
			{ title: '[[#{sm.wstkky.adjsoky}]]', dataType: 'string', dataIndx: 'adjsoky', editable: false, hidden: true },
			{ title: '[[#{sm.wstkky.adjsoit}]]', dataType: 'integer', dataIndx: 'adjsoit', editable: false, hidden: true },
			{ title: '[[#{sm.wstkky.physoky}]]', dataType: 'string', dataIndx: 'physoky', editable: false, hidden: true },
			{ title: '[[#{sm.wstkky.physoit}]]', dataType: 'integer', dataIndx: 'physoit', editable: false, hidden: true },
			{ title: '[[#{sm.wstkky.shpdcky}]]', dataType: 'string', dataIndx: 'shpdcky', editable: false, hidden: true },
			{ title: '[[#{sm.wstkky.shpdcit}]]', dataType: 'integer', dataIndx: 'shpdcit', editable: false, hidden: true },
			{ title: '[[#{sm.wstkky.taskoky}]]', dataType: 'string', dataIndx: 'taskoky', editable: false, hidden: true },
			{ title: '[[#{sm.wstkky.taskoit}]]', dataType: 'integer', dataIndx: 'taskoit', editable: false, hidden: true },
			{ title: '[[#{grid.credate}]]', dataType: 'string', dataIndx: 'credate', editable: false },										// 생성일자
			{ title: '[[#{grid.cretime}]]', dataType: 'string', dataIndx: 'cretime', editable: false },										// 생성일시
			{ title: '[[#{grid.creuser}]]', dataType: 'string', dataIndx: 'creuser', editable: false },										// 생성사용자
			{ title: '[[#{grid.lmodate}]]', dataType: 'string', dataIndx: 'lmodate', editable: false },										// 수정일자
			{ title: '[[#{grid.lmotime}]]', dataType: 'string', dataIndx: 'lmotime', editable: false },										// 수정일시
			{ title: '[[#{grid.lmouser}]]', dataType: 'string', dataIndx: 'lmouser', editable: false },										// 수정사용자
			{ title: '[[#{grid.updtchk}]]', dataType: 'integer', dataIndx: 'updtchk', editable: false, hidden: true }
		];

		const doe089GridObject = new GridUtil(doe089GridCM, 'doe089', 'doe089Grid');

		doe089GridObject.setCreate(async function(){
			await _commonInit(pageId);

			const areakeyFilter = areakeyList.filter(e=>{
				return e.warekey === document.querySelector('#' + pageId + 'Warekey').value;
			});
			makeOptionAreakey(areakeyFilter);

			const locakeyFilter = locakeyList.filter(e=>{
				return e.warekey === document.querySelector('#' + pageId + 'Warekey').value;
			});

			$('#' + pageId + 'Locakey').val('')
			.pqSelect({
				searchId: 'doe089Locakey',
				multiplePlaceholder: '[[#{ms.chooseAll}]]',
				selectallText: '[[#{ms.chooseAll}]]',
				displayText : '{0}개 선택',
				checkbox: true,
				width: '100%'
			});
			makeOptionLocakey(locakeyFilter);

			$('#' + pageId + 'Regikey').val('')
			.pqSelect({
				searchId: 'doe089Regikey',
				multiplePlaceholder: '[[#{ms.chooseAll}]]',
				selectallText: '[[#{ms.chooseAll}]]',
				displayText : '{0}개 선택',
				checkbox: true,
				width: '100%'
			}).pqSelect('refreshData');

			$('#' + pageId + 'Locakey').pqSelect({ deselect : false });
		    $('#' + pageId + 'Regikey').pqSelect({ deselect : false });

		    this.option('freezeCols', 1);
		});

		doe089GridObject.setRowInit(function(ui){
			if(ui.rowData.planqty){
				return {
					style : 'background-color: #d6fff6; font-weight: bold;'
				}
			}else if(ui.rowData.sbloqty){
				return {
					style: 'background-color: #90EE90; font-weight: bold;'
				}
			}else if(ui.rowData.emskuyn === 'Y'){
				return {
					style: 'background-color: #FAED7D; font-weight: bold;'

				}
			}
		});

		doe089GridObject.setSelectEnd(function(evt, ui){

			if(ui.selection._areas[0].type === 'cell'){
				return;
			}

			const checkMap = new Map();

			this.Selection().getSelection().forEach(function(data){
				if(!checkMap.has(data.rowIndx)){
					checkMap.set(data.rowIndx, data);
					return true;
				}
				return false;
			});

			for(const [rowIndx, data] of checkMap){
				this.updateRow({
					rowIndx : rowIndx,
					newRow : {
						state : data.rowData.state === 'Y' ? 'N' : 'Y'
					},
					checkEditable : false
				});
			}
		});

		doe089GridObject.setCheck(function(evt, ui){
			const gridCheckList = this.Checkbox('state').getCheckedNodes();

			let weightSummary = 0;

			for(const gridCheck of gridCheckList){
				weightSummary += Number(gridCheck.skuweig);
			}

			document.querySelector('#' + pageId + 'Itemcnt').innerHTML = String(gridCheckList.length);
			document.querySelector('#' + pageId + 'TotalKg').innerHTML = String(weightSummary).replace(/\B(?=(\d{3})+(?!\d))/g, ',');
			document.querySelector('#' + pageId + 'TotalTon').innerHTML = String(weightSummary / 1000);
		});

		doe089GridObject.open();

		//조회버튼 클릭 시
		document.querySelector('#' + pageId + 'BtnSearch').addEventListener('click', function(){
			getDoe089List();
		});

		async function getDoe089List(){
			resetSkuCountHtml();
			const grid = pq.grid('#' + pageId + 'Grid');
			const searchParams = document.querySelectorAll('input[id*="doe089"], select[id*="doe089"]');

			const locakeyList = Array.from(document.querySelector('#' + pageId + 'Locakey').selectedOptions, function(option){
				return option.value;
			});

			const regikeyList = Array.from(document.querySelector('#' + pageId + 'Regikey').selectedOptions, function(option){
				return option.value;
			});

			const params = {};

			//asnstat 및 doctype을 제외한 검색 조건 params.
			for(const searchParam of searchParams) {
				const key = searchParam.id.substring(6).toLowerCase();
				params[key] = searchParam.value;
			}

			if(params.skumkey.trim() !== '') {
				params.skumkeyList = params.skumkey.split(' ');
			}

			if(params.orderln.trim() !== '') {
				params.orderlnList = params.orderln.split(' ');
			}

			params.locakeyList = locakeyList;
			params.regikeyList = regikeyList;

			grid.showLoading();


			const doe089Response = await fetchUtil('POST', '/sm/inventory/doe089/grid', params);
			if(doe089Response.status === 200) {
				doe089StockList = await doe089Response.json();
				grid.option('dataModel', { data: doe089StockList, recIndx: 'rowkey' });
			}

			grid.refreshDataAndView();
			grid.hideLoading();
		}

		//초기화 버튼 클릭 시
		document.querySelector('#' + pageId + 'BtnReset').addEventListener('click', async function(){
			const grid = pq.grid('#' + pageId + 'Grid');
			if(grid.pdata.length > 0){
				if (!confirm('[[#{ms.listViewRollback}]]')) {
					return;
				}
			}

			resetSearchConditions(pageId);

			const areakeyFilter = areakeyList.filter(e=>{
				return e.warekey === document.querySelector('#' + pageId + 'Warekey').value;
			});
			makeOptionAreakey(areakeyFilter);

			const locakeyFilter = locakeyList.filter(e => e.warekey === document.querySelector('#' + pageId + 'Warekey').value && (e.loctype === 'BED' || e.loctype === 'TMP'));
			makeOptionLocakey(locakeyFilter);

			resetSkuCountHtml();
			makeEmptyGrid(doe089GridObject);

			$('#' + pageId + 'Regikey').val('').pqSelect('refreshData');
		});

		//창고동 검색조건 변경 시
		document.querySelector('#' + pageId + 'Areakey').addEventListener('change', function(event){
			const areakeyAndlocakeyFilter = locakeyList.filter(e=> {
				if(event.target.value){
					return e.areakey === event.target.value && e.warekey === document.querySelector('#' + pageId + 'Warekey').value && (e.loctype === 'BED' || e.loctype === 'TMP');
				}
				return e.warekey === document.querySelector('#' + pageId + 'Warekey').value && (e.loctype === 'BED' || e.loctype === 'TMP');
			});
			makeOptionLocakey(areakeyAndlocakeyFilter);
		});

		function makeOptionAreakey(filterList){
			let html = '<option value ="">[[#{ms.chooseAll}]]</option>';
			for(const areakeyData of filterList){
				html += '<option value="'+ areakeyData?.areakey +'">'+ areakeyData?.areanam +'</option>';
			}
			document.querySelector('#' + pageId + 'Areakey').innerHTML = html;
		}

		function makeOptionLocakey(filterList){
			let html = '';
			for(const locakeyData of filterList){
				html += '<option value="'+ locakeyData.locakey +'">'+ locakeyData.locanam +'</option>';
			}

			document.querySelector('#' + pageId + 'Locakey').innerHTML = html;
			$('#' + pageId + 'Locakey').val('').pqSelect('refreshData');
		}

		//keyup
		doe089KeyupEvt = async function (){
			const key = this.event.key || this.event.keyCode;
			if(key === 'Enter' || key === 13) {
				await getDoe089List();
			}
		}

		//베드별 조회
		document.querySelector('#' + pageId + 'OpenNewWindow').addEventListener('click', function(event){
			event.preventDefault();
			const features = 'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=1800,height=1000,left=100,top=100';
			window.open(window.location.href , '_blank', features);
		});

		// 창고 변경시 자동조회
		document.querySelector('#' + pageId + 'Warekey').addEventListener('change', async function() {
			const areakeyFilter = areakeyList.filter(e=>{
				return e.warekey === document.querySelector('#' + pageId + 'Warekey').value;
			});
			makeOptionAreakey(areakeyFilter);
			const locakeyFilter = locakeyList.filter(e=> e.warekey === document.querySelector('#' + pageId + 'Warekey').value && (e.loctype === 'BED' || e.loctype === 'TMP'));
			makeOptionLocakey(locakeyFilter);

			const grid = pq.grid('#' + pageId + 'Grid');
			if(grid.pdata.length > 0){
				if (!confirm('[[#{ms.listViewRollback}]]')) {
					return;
				}
			}
			await getDoe089List();
		});

		function resetSkuCountHtml(){
			document.querySelector('#' + pageId + 'Itemcnt').innerHTML = 0;
			document.querySelector('#' + pageId + 'TotalKg').innerHTML = 0;
			document.querySelector('#' + pageId + 'TotalTon').innerHTML = 0;
		}
	}();
	</script>
</div>
</html>