<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragments-mainSideBar">
	<!--  mainSideBar 시작 -->
	<div id="menuModal">
		<div class="menu-top">
			<button class="modal-close btn-menu-close"></button>
			<button class="btn-logout" id="tabletLogout">로그아웃</button>
			<div class="user-wrap">
				<div class="company-name">ID</div>
				<div class="user-name">
					<b class="user-name" id="userName"></b>
					<span>님</span>
				</div>
			</div>
		</div>
		<div class="menu-body">
			<ul id="MenuBar">
				<li>
					<a data-progurl="im/doe028" th:data-title="#{menu.im.doe028}">
						<img>
						<span>[[#{menu.im.doe028}]]</span>
					</a>
				</li>
				<li>
					<a data-progurl="im/doe033" th:data-title="#{menu.im.doe033}">
						<img>
						<span>[[#{menu.im.doe033}]]</span>
					</a>
				</li>
				<li>
					<a data-progurl="sm/doe036" th:data-title="#{menu.sm.doe036}">
						<img>
						<span>[[#{menu.sm.doe036}]]</span>
					</a>
				</li>
				<li>
					<a data-progurl="om/doe056" th:data-title="#{menu.om.doe056}">
						<img>
						<span>[[#{menu.om.doe056}]]</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
</html>
