<div th:fragment="fragments-mainContent" id="wrapperddd"   >
	<ul class="menu-bar">
		<li>
			<a data-progurl="im/doe028" th:data-title="#{menu.im.doe028}">
				<img>
				<span>[[#{menu.im.doe028}]]</span>
			</a>
		</li>
		<li>
			<a data-progurl="im/doe033" th:data-title="#{menu.im.doe033}">
				<img>
				<span>[[#{menu.im.doe033}]]</span>
			</a>
		</li>
		<li>
			<a data-progurl="sm/doe036" th:data-title="#{menu.sm.doe036}">
				<img>
				<span>[[#{menu.sm.doe036}]]</span>
			</a>
		</li>
		<li>
			<a data-progurl="om/doe056" th:data-title="#{menu.om.doe056}">
				<img>
				<span>[[#{menu.om.doe056}]]</span>
			</a>
		</li>
	</ul>
</div>
